.card {
    padding: 20px;
    border: none;
    width: 600px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 15%);
    background: hsl(205, 47%, 43%, 0.6);
    background: linear-gradient(90deg, hsla(205, 47%, 34%, 0.6) 0%, hsl(264, 64%, 32%, 0.6) 100%);
}

.card h1, h6, hr {
    color: #fff;
}

label {
    color: #fff;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 4px;
    /*margin-top: 14px;*/
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 240px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(12, 2, 2, 0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    border: solid white 1px;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: hsl(264, 64%, 32%, 1);
    border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: hsl(264, 64%, 32%, 1);
}

.home i {
    font-size: 30px;
    color: blue;
}

.home i:hover {
    color: hsl(264, 64%, 32%, 1);
}
