/*hr {*/
/*  color: red;*/
/*}*/

/*h2 {*/
/*  color: orangered;*/
/*}*/

hr {
  color: red;
}

.main {
  height: 72%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.main img {
  border: 2px solid red;
}

.list-img {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.list-img div {
  flex: 1;
  padding: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.control {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: rgb(12, 2, 2);
  /*Di chuyển lên phía trên 1 đoạn bằng chính nó: transform*/
  transform: translateY(-50%);
  cursor: pointer;

}

.active {
  border: 2px solid red;
  border-radius: 5px;
}

.prev {
  left: 5px;
  color: red;
  font-size: 30px;
}

.next {
  right: 5px;
  color: red;
  font-size: 30px;
}

.img-feature {
  transition: 1s;
}

@keyframes slideleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.img-detail {
  box-shadow: 0 0 10px 5px rgb(3, 22, 114);
  min-height: 100%;
}

.img-body {
  box-shadow: 0 0 10px 5px rgb(3, 22, 114);
}

h2 {
  color: orangered;
}

.img-detail:hover{transform: scale(1.1) rotate(-2deg)}
