<!--<div class="container-fluid">-->
<!--  <div class="row mt-5 mb-1">-->
<!--    <div class="col-2"></div>-->
<!--    <div class="card col-8" style="box-shadow: 0px 0px 10px 5px rgb(3, 22, 114) ">-->
<!--      <div class="row g-0">-->
<!--        <div class="col col-4 d-flex align-items-center">-->
<!--          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">-->
<!--            <div class="carousel-indicators">-->
<!--              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"-->
<!--                      aria-current="true" aria-label="Slide 1"></button>-->
<!--              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"-->
<!--                      aria-label="Slide 2"></button>-->
<!--              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"-->
<!--                      aria-label="Slide 3"></button>-->
<!--            </div>-->
<!--            <div class="carousel-inner">-->
<!--              <div class="carousel-item active">-->
<!--                <img src="https://aocaulong.com/images/pro/vot-cau-long-lining-bladex-800-chinh-hang_18553.jpg"-->
<!--                     class="d-block w-100"-->
<!--                     style="border: 1px solid crimson;border-radius: 10px; " alt="...">-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <img src="https://aocaulong.com/images/pro/3_1291.jpg" class="d-block w-100" alt="...">-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <img src="https://aocaulong.com/images/pro/3_1292.jpg" class="d-block w-100" alt="...">-->
<!--              </div>-->
<!--            </div>-->

<!--            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"-->
<!--                    data-bs-slide="prev">-->
<!--              <span class="text-danger" style="font-size: xx-large"><i class="bi bi-arrow-left-square-fill"></i></span>-->
<!--            </button>-->

<!--            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"-->
<!--                    data-bs-slide="next">-->
<!--              <span class="text-danger" style="font-size: xx-large"><i class="bi bi-arrow-right-square-fill"></i></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col col-5">-->
<!--          <div class="card-body">-->
<!--            <ul>-->
<!--              <li class="card-title"><h6 class="card-title"><b>Vợt Cầu Lông Lining Bladex 800 Chính-->
<!--                Hãng</b></h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title"><span>Hãng sản xuất:</span> <span>Lining </span></h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title"><span>Nơi sản xuất:</span> <span>Trung Quốc </span></h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title">Bảo Hành : <span class="badge  text-bg-success">90 ngày</span>-->
<!--              </h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title">Thanh toán khi nhận hàng, giao hàng miễn phí toàn quốc</h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title"><span>Giá: </span> <span-->
<!--                class="badge  text-bg-danger">4,119,000 VNĐ </span>-->
<!--              </h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--              <li><h6 class="card-title"><span>Tình trạng: </span> <span-->
<!--                class="badge  text-bg-primary">Còn hàng </span></h6>-->
<!--                <hr>-->
<!--              </li>-->
<!--            </ul>-->
<!--<div class="text-center">-->
<!--  <a class="btn btn-primary me-2 mt-1 mb-1"><i-->
<!--    class="bi bi-bag-plus-fill"></i> Thêm vào giỏ Hàng </a>-->
<!--  <a class="btn btn-primary "><i-->
<!--    class="fa-solid fa-file-invoice-dollar"></i> Mua ngay </a>-->
<!--</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col col-3">-->
<!--          <div class="row mt-2">-->
<!--            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i-->
<!--              class="fa-solid fa-location-dot"></i></div>-->
<!--            <div class="col-9">-->
<!--              <h6> ĐỊA ĐIỂM GIAO HÀNG</h6>-->
<!--              <p><span class="badge text-bg-danger">Giao hàng toàn quốc</span></p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row mt-2">-->
<!--            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i-->
<!--              class="fa-solid fa-phone-volume"></i></div>-->
<!--            <div class="col-9">-->
<!--              <h6>HỖ TRỢ TƯ VẤN</h6>-->
<!--              <p><span class="badge text-bg-danger">0965.952.952 | 0354.000.111</span></p>-->
<!--              <p><span class="badge text-bg-success">Thứ 2 - 7 : 08g30 - 17g30</span></p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-2"></div>-->
<!--  </div>-->

<!--  <div class="container-fluid mt-2">-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-10"><h2><b>Thông số kỹ thuật</b></h2>-->
<!--        <hr>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-10">-->
<!--        <table class="table table-primary table-striped" style="box-shadow: 2px 2px 3px #1976d2;">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Độ cứng</th>-->
<!--            <th>Khung vợt</th>-->
<!--            <th>Thân vợt</th>-->
<!--            <th>Chu vi cán vợt</th>-->
<!--            <th>Sức căng</th>-->
<!--            <th>Màu sắc</th>-->
<!--            <th>Cân nặng</th>-->
<!--            <th>Chiều dài vợt</th>-->
<!--            <th>Điểm cân bằng</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>7.909 (Siêu Cứng)</td>-->
<!--            <td>CARBON FIBER</td>-->
<!--            <td>M46 + ULTRA CARBON</td>-->
<!--            <td>S2 (G5)</td>-->
<!--            <td>31LBS (14,1kg)</td>-->
<!--            <td>Đỏ Nhám phối Đen</td>-->
<!--            <td>3U/ 4U</td>-->
<!--            <td>675mm</td>-->
<!--            <td>288mm (Nhẹ Đầu)</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container-fluid mt-3">-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-10"><h2><b>Giới thiệu sản phẩm</b></h2>-->
<!--        <hr>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-10">-->
<!--        <p>-->
<!--          Vợt cầu lông Lining chính hãng HC1000 black với thiết kế thân dẻo giúp bạn có những pha xử lý linh-->
<!--          hoạt thích hợp với những người có lối đánh công thủ toàn diện, đặc biệt là phù hợp với những bạn mới-->
<!--          bắt đầu tập chơi.-->
<!--          Vợt cầu lông Lining mới nhất HC1000 black thuộc dòng vợt cân bằng nên phông cầu có cảm giác thoát-->
<!--          tay,-->
<!--          nhẹ nhàng, dễ về cuối sân, không cần dùng quá nhiều lực, tiếng phông cầu rất đã tai. Khi đập cầu,-->
<!--          vợt hỗ-->
<!--          trợ nhiều lực giúp dễ đập hơn, đặc biệt với những người có cổ tay chưa được khỏe,-->
<!--          dễ dàng xử lí trong mọi tình huống. Trong phòng thủ cây vợt này dễ dàng xử lí tình huống một cách-->
<!--          linh-->
<!--          hoạt, bắt lưới nhanh và trợ lực từ-->
<!--          thân vợt tốt. Với dòng vợt High Carbon cao cấp chắc các bạn sẽ không còn nỗi lo khi vợt bị va chạm-->
<!--          bởi-->
<!--          dòng vợt này-->
<!--          tối ưu rất tốt bổ sung thêm phần carbon vào những phần yếu nhất để đảm bảo cho vợt chắc chắn đàn hồi-->
<!--          tốt.Nhìn chung cây vợt cầu lông công Lining công thủ toàn diện HC1000 black chính hãng với thân vợt-->
<!--          dẻo-->
<!--          và-->
<!--          đây là cây vợt cân bằng nên tấn công và phòng thủ đều rất tốt đấy nhé ! Là sự lựa chọn hoàn hảo dành-->
<!--          cho-->
<!--          các bạn mới tập chơi.</p>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="container-fluid mt-3 mb-3">-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-10"><h2><b>Sản phẩm liên quan</b></h2>-->
<!--        <hr>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-1"></div>-->
<!--      <div class="col-2">-->
<!--<a routerLink="/detail">-->
<!--  <div class="card img-detail" style="box-shadow: 0px 0px 10px 5px rgb(3, 22, 114);min-height: 100%">-->
<!--    <img src="https://aocaulong.com/images/pro/vot-cau-long-lining-turbocharging-75c-loh-kean-yew_26756.jpg"-->
<!--         class="card-img-top" alt="...">-->
<!--    <div class="card-body text-center">-->
<!--      <p class="card-text">Vợt Cầu Lông Lining Bladex 800 Chính Hãng</p>-->
<!--      <h4 class="card-title"><span class="badge text-bg-success">3,950,000 VNĐ</span></h4>-->
<!--    </div>-->
<!--  </div>-->
<!--</a>-->
<!--      </div>-->
<!--      <div class="col-1"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--</div>-->
<div class="container-fluid mt-1" style="background: linear-gradient(to right,#4daf54,#3d8880)">
  <div class="row mb-1 p-5">
    <div class="col-2"></div>
    <div class="card col-8 img-body">
      <div class="row g-0">
        <div class="col-4">
          <div class="main mt-2">
            <img src="https://aocaulong.com/images/pro/vot-cau-long-lining-bladex-800-chinh-hang_18553.jpg"
                 class="img-feature" alt="">
            <div class="control prev "><i class="bi bi-arrow-left-square-fill"></i></div>
            <div class="control next "><i class="bi bi-arrow-right-square-fill"></i></div>
          </div>
          <div class="list-img">
            <div><img
              src="https://aocaulong.com/images/pro/vot-cau-long-lining-bladex-800-chinh-hang_18553.jpg"
              alt="">
            </div>
            <div><img src="https://aocaulong.com/images/pro/3_1291.jpg" alt="">
            </div>
            <div><img src="https://aocaulong.com/images/pro/3_1292.jpg" alt="">
            </div>
            <div><img src="https://aocaulong.com/images/pro/3_1290.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="col col-5">
          <div class="card-body">
            <ul>
              <li class="card-title"><h6 class="card-title"><b>Vợt Cầu Lông Lining Bladex 800 Chính
                Hãng</b></h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Hãng sản xuất:</span> <span>Lining </span></h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Nơi sản xuất:</span> <span>Trung Quốc </span></h6>
                <hr>
              </li>
              <li><h6 class="card-title">Bảo Hành : <span class="badge  text-bg-success">90 ngày</span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title">Thanh toán khi nhận hàng, giao hàng miễn phí toàn quốc</h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Giá: </span> <span
                class="badge  text-bg-danger">4,119,000 VNĐ </span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Tình trạng: </span> <span
                class="badge  text-bg-primary">Còn hàng </span></h6>
                <hr>
              </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-primary me-2 mt-1 mb-1"><i
                class="bi bi-bag-plus-fill"></i> Thêm vào giỏ Hàng </a>
              <a class="btn btn-primary "><i
                class="fa-solid fa-file-invoice-dollar"></i> Mua ngay </a>
            </div>
          </div>
        </div>

        <div class="col col-3">
          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-location-dot"></i></div>
            <div class="col-9">
              <h6> ĐỊA ĐIỂM GIAO HÀNG</h6>
              <p><span class="badge text-bg-danger">Giao hàng toàn quốc</span></p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-phone-volume"></i></div>
            <div class="col-9">
              <h6>HỖ TRỢ TƯ VẤN</h6>
              <p><span class="badge text-bg-danger">0965.952.952 | 0354.000.111</span></p>
              <p><span class="badge text-bg-success">Thứ 2 - 7 : 08g30 - 17g30</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Thông số kỹ thuật</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <table class="table table-primary table-striped" style="box-shadow: 2px 2px 3px #1976d2;">
            <thead>
            <tr>
              <th>Độ cứng</th>
              <th>Khung vợt</th>
              <th>Thân vợt</th>
              <th>Chu vi cán vợt</th>
              <th>Sức căng</th>
              <th>Màu sắc</th>
              <th>Cân nặng</th>
              <th>Chiều dài vợt</th>
              <th>Điểm cân bằng</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>7.909 (Siêu Cứng)</td>
              <td>CARBON FIBER</td>
              <td>M46 + ULTRA CARBON</td>
              <td>S2 (G5)</td>
              <td>31LBS (14,1kg)</td>
              <td>Đỏ Nhám phối Đen</td>
              <td>3U/ 4U</td>
              <td>675mm</td>
              <td>288mm (Nhẹ Đầu)</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Giới thiệu sản phẩm</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>

      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p>
            Vợt cầu lông Lining chính hãng HC1000 black với thiết kế thân dẻo giúp bạn có những pha xử lý linh
            hoạt thích hợp với những người có lối đánh công thủ toàn diện, đặc biệt là phù hợp với những bạn mới
            bắt đầu tập chơi.
            Vợt cầu lông Lining mới nhất HC1000 black thuộc dòng vợt cân bằng nên phông cầu có cảm giác thoát
            tay,
            nhẹ nhàng, dễ về cuối sân, không cần dùng quá nhiều lực, tiếng phông cầu rất đã tai. Khi đập cầu,
            vợt hỗ
            trợ nhiều lực giúp dễ đập hơn, đặc biệt với những người có cổ tay chưa được khỏe,
            dễ dàng xử lí trong mọi tình huống. Trong phòng thủ cây vợt này dễ dàng xử lí tình huống một cách
            linh
            hoạt, bắt lưới nhanh và trợ lực từ
            thân vợt tốt. Với dòng vợt High Carbon cao cấp chắc các bạn sẽ không còn nỗi lo khi vợt bị va chạm
            bởi
            dòng vợt này
            tối ưu rất tốt bổ sung thêm phần carbon vào những phần yếu nhất để đảm bảo cho vợt chắc chắn đàn hồi
            tốt.Nhìn chung cây vợt cầu lông công Lining công thủ toàn diện HC1000 black chính hãng với thân vợt
            dẻo
            và
            đây là cây vợt cân bằng nên tấn công và phòng thủ đều rất tốt đấy nhé ! Là sự lựa chọn hoàn hảo dành
            cho
            các bạn mới tập chơi.</p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="container-fluid mt-2 mb-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Sản phẩm liên quan</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <a routerLink="/detail" class="text-decoration-none text-light">
            <div class="card img-detail">
              <div class="img-test">
                <img
              src="https://aocaulong.com/images/pro/vot-cau-long-lining-turbocharging-75c-loh-kean-yew_26756.jpg"
              class="card-img-top" alt="..."></div>

              <div class="card-body text-center content bg-secondary">
                <p class="card-text">Vợt Cầu Lông Lining Bladex 800 Chính Hãng</p>
                <h4 class="card-title"><span class="badge text-bg-success">3,950,000 VNĐ</span></h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-1"></div>
      </div>

    </div>

  </div>
</div>
