<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <style>
        * {
            font-family: "Palatino Linotype"
        }

        input {
            width: 100%;
            border-radius: 5px;
        }

        span {
            font-size: 15px;
            color: white;
        }
    </style>
    <title>BossTran</title>
</head>
<body>
<div class="container"
     style="background-image: url(https://c4.wallpaperflare.com/wallpaper/9/146/335/car-mclaren-vehicle-mclaren-mp4-12c-wallpaper-preview.jpg);background-repeat: no-repeat; background-size: 100%;min-height: 100vh">

    <div class="row align-items-center justify-content-center text-center"
         style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.5))">
        <nav class="navbar navbar-expand-lg text-xxl-center">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active align-items-lg-center text-light text-xl-center"
                               aria-current="page" th:href="@{/}"><i
                                    class="bi bi-house-heart-fill"></i>Home</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link active text-decoration-none align-items-lg-center text-light text-xl-center"
                               aria-current="page" data-bs-toggle="modal" href="#create">Create Modal</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active text-decoration-none align-items-lg-center text-light text-xl-center"
                               href="/create">Create</a>
                        </li>
                        <li class="nav-item ">
                        </li>
                        <li class="nav-item ">
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control text-light me-2" type="date"
                               name="date" th:value="${date}" style="background-color: rgba(101,126,246,0.5)">
                        <select name="nameMovieid" class="form-select text-light me-2"
                                aria-label="Default select example"
                                style="width: 100%;background-color: rgba(101,126,246,0.5);border-radius: 20px;margin-right: 2px;">
                            <option selected value="-1">Movie's Names</option>
                            <option th:each="nameMovie:${nameMovieList}" th:value="${nameMovie.id}"
                                    th:text="${nameMovie.name}" th:selected="${nameMovieid==nameMovie.id}">
                            </option>
                        </select>
                        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="row content mt-1 mb-1">
        <div class="row text-center text-primary mt-1 mb-1">
            <h2><b>Infor Cinema</b></h2>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col col-1"></div>
            <div class="col col-10">
                <table class="table text-center table-hover text-light"
                       style="width: 100%;background-color: rgba(146,195,245,0.6)">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Showtime Code</th>
                        <th>Movie Day</th>
                        <th>Number of Tickets</th>
                        <th>Movie's Name</th>
                        <th colspan="2">...</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${cinemaList.size>0}" th:each="cinema,stt : ${cinemaList}">


                        <td th:text="${stt.count}+${cinemaList.number}*${cinemaList.size}"></td>
                        <td th:text="${cinema.code}"></td>
                        <td th:text="${cinema.date}"></td>
                        <td th:text="${cinema.count}"></td>
                        <td th:text="${cinema.nameMovie.name}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#edit"
                                    th:attr="onclick=|edit('${cinema.id}','${cinema.code}','${cinema.date}','${cinema.count}','${cinema.nameMovie.id}');|">
                                Edit Modal
                            </button>
                            <a class="btn btn-outline-primary" th:href="@{/edit/__${cinema.getId()}__ }">Edit</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger"
                                    th:attr="onclick=|showDelete('${cinema.id}','${cinema.code}');|"
                                    data-bs-toggle="modal" data-bs-target="#delete">Delete
                            </button>
                        </td>
                    </tr>
                    <!--                    <tr th:if="${cinemaList.size<=0}">-->
                    <tr th:if="${cinemaList.isEmpty()}">
                        <td colspan="7">No results were found!!!</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-1"></div>
        </div>
    </div>

    <div>
        <a th:href="@{/(page=${cinemaList.number - 1}, nameMovieid=${nameMovieid},
                date=${date})}" th:if="${cinemaList.hasPrevious()}">
            <button type="button" class="btn btn-outline-primary">Previous</button>
        </a>
        <span style="font-size: 20px" th:text="${cinemaList.number + 1}"></span>/<span
            style="font-size: 20px"
            th:text="${cinemaList.totalPages}"></span>
        <a th:href="@{/(page=${cinemaList.number + 1},nameMovieid=${nameMovieid},
                date=${date})}" th:if="${cinemaList.hasNext()}">
            <button type="button" class="btn btn-outline-primary">Next</button>
        </a>
    </div>

    <div class="row text-light mt-2 text-center fixed-bottom"
         style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.5))">
        <h5 class="text-light">&copy; Trần Quốc Đạt - 038.542.5443 &copy;</h5>
        <h6 class="text-light">&copy; quocdat.tran453@gmail.com &copy;</h6>
    </div>

</div>
</body>
<!--Modal Create-->
<div class="modal fade" id="create" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script th:inline="javascript" th:if="${hasErrors == 2}">
        $(document).ready(function () {
            $("#create").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(229,4,246,0.5), rgba(3,246,185,0.5))">
            <div class="modal-header text-light">
                <h3 class="modal-title fs-5"><b>CREATE NEW CINEMA</b></h3>
            </div>
            <form id="form-create" th:action="@{/create-modal}" method="post" th:object="${cinema}"
                  class="mb-1">
                <div class="modal-body text-light" style="background-color: rgba(132,151,241,0)">
                    <div class="mb-1">
                        <label th:for="code" class="form-label"><b>ShowtimeCode</b></label>
                        <input type="text" required class="form-control" th:field="*{code}" placeholder="CI-0001">

                    </div>
                    <div class="mb-1">
                        <label th:for="date" class="form-label"><b>Day Movie</b></label>
                        <input type="date" required class="form-control" th:field="*{date}">

                    </div>
                    <div class="mb-1">
                        <label th:for="count" class="form-label"><b>Tickets</b></label>
                        <input type="number" min="0" required class="form-control" th:field="*{count}">

                    </div>
                    <div class="mb-1">
                        <label th:for="nameMovie"><b>Customer Type</b> </label>
                        <select required class="form-select"
                                aria-label="Default select example"
                                th:field="*{nameMovie}">
                            <option
                                    th:each="movie : ${nameMovieList}"
                                    th:value="${movie.id}"
                                    th:text="${movie.name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger"><b>Add New Customer</b></button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><b>Close</b></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal Edit-->
<script>
    function edit(id, code, date, count, nameMovie) {
        document.getElementById("editId").value = id;
        document.getElementById("editCode").value = code;
        document.getElementById("editDate").value = date;
        document.getElementById("editCount").value = count;
        document.getElementById("editNameMovie").value = nameMovie;
    }
</script>
<div class="modal fade" id="edit" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script th:inline="javascript" th:if="${hasErrorsEdit == 1}">
        $(document).ready(function () {
            $("#edit").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.6))">
            <div class="modal-header text-light">
                <h1 class="modal-title fs-5"><b>Edit Info Cinema</b></h1>
            </div>
            <form th:action="@{/edit-modal}" method="post" th:object="${cinema}" class="mb-1">
                <div class="modal-body text-light">
                    <div class="mb-1" hidden>
                        <input type="text" id="editId" th:field="*{id}">
                    </div>
                    <div class="mb-1">
                        <label th:for="code" class="form-label"><b>ShowtimeCode</b></label>
                        <input type="text" id="editCode" required class="form-control" th:field="*{code}">
                    </div>
                    <div class="mb-1">
                        <label th:for="date" class="form-label"><b>DayMovie</b></label>
                        <input type="text" id="editDate" required class="form-control" th:field="*{date}">
                    </div>
                    <div class="mb-1">
                        <label th:for="count" class="form-label"><b>SDT</b></label>
                        <input type="text" id="editCount" required class="form-control" th:field="*{count}">
                    </div>
                    <div class="mb-1">
                        <label th:for="nameMovie"><b>Hình thức thanh toán</b> </label>
                        <select required id="editNameMovie" class="form-select"
                                aria-label="Default select example"
                                th:field="*{nameMovie}" style="border-radius: 30px">
                            <option
                                    th:each="movie : ${nameMovieList}"
                                    th:value="${movie.id}"
                                    th:text="${movie.name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary"><b>Edit Infor</b></button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><b>Close</b></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal delete-->
<script>
    function showDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
        document.getElementById("deleteName2").value = name;
    }
</script>
<div class="modal fade" id="delete" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(231,248,4,0.5), rgba(9,243,22,0.6))">
            <form th:action="@{/delete}" method="post">
                <div class="modal-body text-center text-light" style="background-color: rgba(132,151,241,0)">
                    <h1>Are you sure you want to delete?</h1>
                    <h3 id="deleteName"></h3>
                    <input type="hidden" name="deleteName2" id="deleteName2">
                </div>
                <div class="modal-footer text-success " style="background-color: rgba(132,151,241,0)">
                    <button type="submit" class="btn btn-outline-primary" th:id="deleteId" th:name="deleteId">
                        <b>Delete</b>
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><b>Close</b></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-alert-->
<div class="modal fade" id="alert" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script th:inline="javascript" th:if="${deleteAlert == 1}">
        $(document).ready(function () {
            $("#alert").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.6))">
            <div class="modal-body text-center text-light">
                <h1>Delete success!!!</h1>
                <h1 th:text="${deleteName2}"></h1>
            </div>
            <div class="modal-footer text-success " style="background-color: rgba(132,151,241,0)">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><b>Close</b></button>
            </div>
        </div>
    </div>
</div>
<!--Edit-->
<div class="modal fade" id="editAlert" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script th:inline="javascript" th:if="${editAlert == 1}">
        $(document).ready(function () {
            $("#editAlert").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.6))">
            <div class="modal-body text-center text-light">
                <h1>Edit success!!!!!!</h1>
                <h1>See you again!!!!!!</h1>
            </div>
            <div class="modal-footer text-success " style="background-color: rgba(132,151,241,0)">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><b>Close</b></button>
            </div>
        </div>
    </div>
</div>
<!--Create-->
<div class="modal fade" id="createAlert" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script th:inline="javascript" th:if="${createAlert == 1}">
        $(document).ready(function () {
            $("#createAlert").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content"
             style="background: -webkit-linear-gradient(left, rgba(26,102,246,0.5), rgba(246,89,89,0.6))">
            <div class="modal-body text-center text-light">
                <h1>Create success!!!!!!</h1>
                <h1>See you again!!!!!!</h1>
            </div>
            <div class="modal-footer text-success " style="background-color: rgba(132,151,241,0)">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><b>Close</b></button>
            </div>
        </div>
    </div>
</div>
</html>