<div class="text-center">
  <input type="file" style="color: red" (change)="fileChange($event)">
  <button class="btn btn-primary" type="button" disabled *ngIf="checkUpload">
    <div mode="determinate" value="40">Đang tải...</div>
  </button>
  <button *ngIf="downloadURL? !selectedFire : selectedFire && !checkUpload,else block" class="btn-primary btn"
          (click)="onUpload()"> Tải lên
  </button>
  <ng-template #block><button class="btn-primary btn" hidden>Test</button></ng-template>
  <p style="color: red" *ngIf="checkSttUpload,else block1">Tải ảnh thành công.Bấm thay đổi avartar để thực hiện thay
    đổi</p>
    <ng-template #block1><p></p></ng-template>

  <!--  <div *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">-->
  <!--    <img [src]="downloadURL" style="width: 300px; height: 300px;border-radius: 50%;box-shadow: 0 0 10px 10px white" alt="nocomment">-->
  <!--  </div>-->
</div>
