<div class="container-fluid">
  <div class="row">
    <div class="col col-9 mt-2 mb-2">
      <div class="d-flex justify-content-center" *ngIf="cartListByIdAccount.length!=0,else block">
        <table class="table table-light table-hover" style="width: 98%">
          <thead>
          <tr>
            <!--            <th><input type="checkbox" class="form-check-input"></th>-->
            <th style="width: 1%">STT</th>
            <th style="width: 47%">Tổng sản phẩm: <span>{{totalProduct}}</span></th>
            <th style="width: 21%">Số lượng</th>
            <th style="width: 13%">Giá</th>
            <th style="width: 15%">Thành tiền</th>
            <th style="width: 3%">Xóa</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let ele of cartListByIdAccount,index as i" style="min-height: 10%">
            <!--            <th>-->
            <!--              <input type="checkbox" class="form-check-input">-->
            <!--            </th>-->
            <th>{{i + 1}}</th>
            <td>
              <div class="row">
                <div class="col-2">
                  <a [routerLink]="['/detail',ele.clockId]" class="text-decoration-none">
                    <img src="{{ele.url}}" class="card-img-top" alt="...">
                  </a>
                </div>
                <div class="col-10">
                  <p class="card-text">{{ele.clockName}}</p>
                </div>
              </div>
            </td>
            <!--Chỗ đây nè-->
            <td>
              <div class="d-flex align-items-center">
                <button *ngIf="ele.cartId!=undefined" class="btn btn-sm btn-primary mx-1" style="width: 20%"
                        (click)="subQuanlity(ele.cartId)">-
                </button>
                <input #minmax class="form-control-sm mx-1" *ngIf="ele.cartId!=undefined"
                       style="width: 30%;text-align: center; border: solid 1px #3167eb"
                       type="text" (change)="change(+minmax.value,ele.cartId)" value="{{ele.quanlityCart}}">
                <button *ngIf="ele.cartId!=undefined" class="btn btn-sm btn-primary mx-1" style="width: 20%"
                        (click)="addQuanlity(ele.cartId)">+
                </button>
              </div>
            </td>

            <td>
              <div>{{ele.clockPrince|number}} VNĐ</div>
            </td>

            <td>
              <div
                *ngIf="ele.quanlityCart!=undefined && ele.clockPrince !=undefined">{{ele.quanlityCart * ele.clockPrince|number}}
                VNĐ
              </div>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
                      (click)="(temp=ele)"><i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <ng-template #block>
        <div class="text-center mt-2 text-danger"><h2>Giỏ hàng của bạn đang trống!</h2></div>
      </ng-template>
    </div>

    <div class="col-3 mt-2">
      <div class="row address">
        <h5 class="text-center"><b>Giao tới</b></h5>
        <p>Khách Hàng: <span class="text-bg-warning"
                             style="border-radius: 7px;padding: 3px">{{customer.customerName}}</span>
        </p>
        <p>Số điện thoại: <span class="text-bg-primary"
                                style="border-radius: 7px;padding: 3px">{{customer.phone}}</span></p>
        <p><i class="bi bi-geo-alt-fill"></i>: {{customer.addressCustomer}} </p>
      </div>

      <div class="row pay mt-2 mb-2">
        <p class="mt-2">Tạm tính: <span class="text-bg-warning"
                                        style="border-radius: 7px;padding: 3px">{{totalPay | number}} VNĐ <=> {{(totalPay/24000)|number: '0.2'}} USD</span></p>
        <p>Giảm giá: <span class="text-bg-secondary" style="border-radius: 7px;padding: 3px">{{totalPay * sale}}
          VND</span></p>
        <hr>
        <h6>Tổng tiền: <span class="text-bg-success"
                             style="border-radius: 7px;padding: 3px"> {{(totalPay - totalPay * sale)|number}} VNĐ <=> {{totalPay/2400|number: '0.2'}} USD</span>
        </h6>
      </div>
      <div id="paypalbutton" class="mb-2"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content" style="background: linear-gradient(to right, #d9f5db, #07af9e);color: blue">
      <div class="modal-header"><h4 class="text-center">XOÁ SẢN PHẨM</h4></div>

      <div class="modal-body">
        <h5 class="text-center">Bạn có chắc muốn xoá????</h5>
        <div class="row  text-center">
          <div class="col-3"><h6>Sản Phẩm:</h6></div>
          <div class="col-9"><h6>{{temp.clockName}}</h6></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="delete()">Xóa
        </button>
      </div>
    </div>
  </div>
</div>

