body {
    margin: 0;
}

#header-logo {
    width: 100%;
    height: 200px;
    background-color: rgba(239, 175, 175, 0.5);
}

#header {
    /*margin-top: 200px;*/
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    padding: 0;
    display: flex;
    align-items: center;
}

#header ul, #header li {
    margin: 0;
    padding: 0;
}

#header li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header li a {
    width: 200px;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #000305;
    color: #ee0707;
}

#header ul ul li a {
    width: 198px;
    border: 1px solid white;
    text-align: center;
}

#header li a:hover {
    background-color: #8ff3e7;
}

#header ul ul {
    position: absolute;
    /*display: flex;*/
    top: 50px;
    left: 0;
    visibility: hidden;
}

#header ul li:hover ul {
    visibility: visible;
}

#side-bar-left {
    background-color: #f3dede;
    width: 30%;
    /*height: 650px;*/
    float: left;
}

#side-bar-left ul {
    padding: 0;
    margin: 0;
}

#side-bar-left ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main {
    background-color: #eeeee5;
    width: 70%;
    /*height: 650px;*/
    float: left;
    text-align: center;
}

#footer {
    background-color: black;
    width: 100%;
    height: 50px;
    clear: both;
    color: white;
    text-align: center;
}

.log-in {
    margin-left: auto;
}

#header i {
    color: red;
}


