<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>BossTran</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">PRODUCT</h3>
    <div class="row">
        <div class="col-4">
            <a th:href="@{/create}">
                <button class="btn btn-primary">
                    ADD NEW PRODUCT
                </button>
            </a>
        </div>
        <div class="col-4">
            <h2 th:text="${message}" style="color: red;text-align: center"></h2>
        </div>
        <div class="col-4">
            <form class="d-flex" action="/search" method="post">
                <input class="form-control me-2" type="search" name="search" th:value="${search}" placeholder="Product Name"
                       aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>


    <table id="products">
        <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Producer</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,stt : ${productList}">
            <td th:text="${stt.count}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getProducer()}"></td>
            <td><a th:href="@{/edit(id=${product.id})}" class="btn btn-primary">Edit</a></td>
            <td>
                <button type="button" class="btn btn-danger"
                        th:attr="onclick=|showAlertDelete('${product.id}','${product.name}');|" data-bs-toggle="modal"
                        data-bs-target="#delete">Delete
                </button>
            </td>
            <td><a th:href="@{/view(id=${product.id})}" class="btn btn-dark">View</a></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{layout::footer}"></div>

</div>

<!--Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">XOÁ SẢN PHẨM</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/delete}">
                <div class="modal-body">
                    <p id="deleteAlert"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" th:id="deleteConfirm" th:name="deleteConfirm">
                        Acept
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    <!--Funtion delete-->
    function showAlertDelete(id, name) {
        document.getElementById("deleteAlert").innerText = "Xác nhận xoá " + name + " ?";
        document.getElementById("deleteConfirm").value = id;
    }
</script>

</html>