<div class="row">
  <div class="container teal borderYtoX">
    <a (click)="searchNameClock('')" routerLink=""><img src="https://zenwatch.vn/uploads/logo_zenwatch3.png"
                                                        style="width: 100px" alt=""> </a>
    <a (click)="searchNameClock('')" routerLink="" class="text-decoration-none"><i class="bi bi-house-fill"></i> TRANG
      CHỦ</a>
    <a routerLink="/info" class="text-decoration-none"><i class="bi bi-info-square-fill"></i> GIỚI THIỆU</a>
    <a href="#"><i class="bi bi-credit-card-2-back-fill"></i> THANH TOÁN</a>
    <!--    <a href="#"><i class="bi bi-newspaper"></i> TIN TỨC</a>-->
    <a routerLink="/statistical" *ngIf="roles[0]=='ROLE_ADMIN'"><i class="bi bi-graph-up-arrow"></i> THỐNG KÊ</a>
    <a routerLink="/customer" *ngIf="roles[0]=='ROLE_ADMIN'"><i class="bi bi-list-stars"></i> DANH SÁCH KHÁCH HÀNG</a>

    <a class="text-decoration-none">
      <span class="dropdown">
        <span class="nut_dropdown" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"> SẢN PHẨM
        </span>
        <span class="noidung_dropdown">
          <a *ngFor="let item of trademarks" (click)="searchNameClock(item.name)">{{item.name}}</a>
        </span>
      </span>

    </a>

    <a [routerLink]="['/cart',idCustomer]" class="text-decoration-none"><i class="bi bi-cart4"></i> GIỎ HÀNG</a>
    <a *ngIf="!checkLogin" routerLink="/login" class="text-decoration-none"><i class="fa-solid fa-right-to-bracket"></i>
      ĐĂNG NHẬP</a>
    <a *ngIf="!checkLogin" routerLink="/register" class="text-decoration-none"><i
      class="fa-solid fa-registered"></i> ĐĂNG KÝ</a>
    <a class="text-decoration-none">
      <span class="dropdown">
        <span class="nut_dropdown" *ngIf="!checkLogin" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"><i class="bi bi-person-bounding-box"></i> Bạn chưa đăng nhập!
        </span>
        <span class="nut_dropdown" *ngIf="checkLogin" data-bs-toggle="dropdown"
              aria-expanded="false" style="text-decoration: none;"
              aria-label="Angular Audio Player"
              tabindex="0" aria-disabled="false">
                   <img alt="angular" style="border-radius: 50%;width: 100px;height: 100px" class=" mb-2"
                        [src]=avatar> Xin chào! {{name}} .

        </span>
        <span class="noidung_dropdown">
            <a routerLink="/personal-page" *ngIf="roles[0]=='ROLE_ADMIN'|| roles[0]=='ROLE_ROLE_USER'">TRANG CÁ NHÂN</a>
            <a data-bs-toggle="modal" data-bs-target="#create" *ngIf="roles[0]=='ROLE_ADMIN'">THÊM MỚI SẢN PHẨM</a>
            <a *ngIf="checkLogin" data-bs-toggle="modal" data-bs-target="#logout" class="text-decoration-none"><i
              class="fa-solid fa-right-from-bracket"></i> ĐĂNG XUẤT</a></span>
        </span>
    </a>

    <div class="row mt-2">
      <div class="col-3"></div>
      <div class="col-6 mt-2">
        <form>
          <div class="row">
            <div class="col-9">
              <label style="width: 100%">
                <input #search type="text" class="form-control mb-1" placeholder="VD:LINING,KUMPOO" style="width: 100%">
              </label>
            </div>
            <div class="col-3">
              <button style="width: 100%" class="btn btn-primary ms-1 mb-1" (click)="searchNameClock(search.value)"
                      type="button">
                <i class="bi bi-search"></i> Tìm kiếm
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="container-text">
      <b>CLOCKSHOP.COM</b>
    </div>
  </div>

  <!--Modal logout-->
  <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: linear-gradient(to right, white, blue)">
          <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel1">Đăng xuất</h1>
        </div>
        <div class="modal-body text-center">
          <h3 class="text-danger">Bạn chắc chắn muốn đăng xuất!</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button type="submit" (click)="logOut()" data-bs-dismiss="modal" class="btn btn-primary">Đồng ý
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-clock-create (emit)="creatClock($event)"></app-clock-create>
