.card {
  padding: 20px;
  border: none;
  width: 600px;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 18%);
  background: hsla(227, 47%, 43%, 0.6);
  background: linear-gradient(90deg, hsla(227, 47%, 43%, 0.6) 0%, hsla(264, 86%, 33%, 0.6) 100%);
}

.card h1, h6, hr {
  color: #fff;
}

label {
  color: #fff;
}
