.card {
  padding: 20px;
  border: none;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  background: linear-gradient(to right, rgba(71,73,72,0.8), rgba(0,0,0,0.8));
  box-shadow: 0px 0px 15px 5px rgb(176, 135, 243);
}

.card h1, h6, hr {
  color: #fff;
}

label {
  color: #fff;
}

img {
  image-rendering: pixelated;
}
