hr {
  color: red;
}

.main {
  height: 72%;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.main img {
  border: 2px solid blue;
  height: 300px;
}

.list-img {
  width: 100%;
  height: 23%;
  display: flex;
  justify-content: space-between;
}

.list-img div {
  flex: 1;
  padding: 3px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.control {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: rgb(12, 2, 2);
  /*Di chuyển lên phía trên 1 đoạn bằng chính nó: transform*/
  transform: translateY(-50%);
  cursor: pointer;

}

.active {
  border: 2px solid red;
  border-radius: 5px;
}

.prev {
  left: 5px;
  color: red;
  font-size: 30px;
}

.next {
  right: 5px;
  color: red;
  font-size: 30px;
}

.img-feature {
  transition: 1s;
}

@keyframes slideleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.img-detail {
  border: 1px solid crimson;
  border-radius: 3px;
  transition: all 1s ease
}

h2 {
  color: orangered;
}


.img-detail:hover {
  box-shadow: 0 0 10px 5px rgb(3, 22, 114);
  transform: scale(1.1)
}

.img-body {
  box-shadow: 0 0 10px 5px rgb(3, 22, 114);
}

/*.container-fluid {*/
/*  background: linear-gradient(to right, #d9f5db, #739a96)*/
/*}*/

.tskt:hover {
  box-shadow: 0 0 10px 5px rgb(3, 22, 114);
}

/*button scrollbar*/
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 5px 5px white;
  border: none;
  color: red;
  outline: none;
  cursor: pointer;
  transition: all 1s ease
}

#btnScrollToTop:active {
  background: honeydew;
}

#btnScrollToTop:hover {
  transform: scale(1.1);
}
/*BORDER*/
.box{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.box:before{
  /*content: '';*/
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  /*pointer-events: none;*/
}

/*.box:hover:before{*/
/*  left:-50%;*/
/*  transform: skewX(-5deg);*/
/*}*/

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
    transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
    transform-origin: right;

  }
}
/*#box {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 400px;*/
/*  height: 200px;*/
/*  color: white;*/
/*  font-size: 2.5rem;*/
/*}*/
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


