<div class="container-fluid">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10"><h1 class="text-primary">Video</h1>
      <hr>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <iframe src="https://www.youtube.com/embed/-0V5_qwpVTM"
                          style="width: 100%;margin: 0;padding: 0;border: 1px solid crimson;min-height: 100%;border-radius: 5px"
                          title="Đồng hồ nữ chính hãng Lobinni No.2060-3" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen></iframe>
                </div>
                <div class="col-6">
                  <iframe src="https://www.youtube.com/embed/eSQauDGA1jA"
                          style="width: 100%;margin: 0;padding: 0;border: 1px solid crimson;min-height: 100%;border-radius: 5px"
                          title="Đồng hồ nam chính hãng Lobinni No.5015" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen></iframe>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-6">
                  <iframe src="https://www.youtube.com/embed/SVi7iNLpK0M"
                          style="width: 100%;margin: 0;padding: 0;border: 1px solid crimson;min-height: 100%;border-radius: 5px"
                          title="Đồng hồ nam TEINTOP T7009-2" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen></iframe>
                </div>
                <div class="col-6">
                  <iframe src="https://www.youtube.com/embed/z62kPlepCTQ"
                          style="width: 100%;margin: 0;padding: 0;border: 1px solid crimson;min-height: 100%;border-radius: 5px"
                          title="Đồng hồ nam chính hãng Lobinni No.5014-2" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="col-6" style="min-height: 100%">
              <iframe src="https://www.youtube.com/embed/LbehFLeVGRI"
                      style="width: 100%;margin: 0;padding: 0;border: 1px solid crimson;min-height: 100%;border-radius: 5px"
                      title="Đồng hồ nam chính hãng Lobinni No.8885-4" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
            </div>

          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <h1 class="text-primary mt-1">Giới thiệu</h1>
      <hr>
    </div>
    <div class="col-1"></div>
  </div>
</div>
