#A {
    width: 50%;
    height: 100%;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    text-indent: 20px;
    background-color: blue;
    border: 5px solid;
}

#B {
    width: 95%;
    height: 95%;
    background-color: blanchedalmond;
    margin-left: 2.5%;
}

.the-a {
    border: 1px solid red;
    text-align: justify;
    font-size: 10px;
}
