<app-header></app-header>
<app-navbar></app-navbar>
<div class="row mb-1">
  <div class="col col-3"></div>
  <div class="col-xl-6 bg-danger">
    <form [formGroup]="contractForm" (ngSubmit)="createContract()">
      <div class="text-light">
        <h3 class="mt-1 mb-2 text-center">Create new Contract</h3>
        <hr>
        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-labe " for="name">NameContract: </label>
          </div>
          <div class="col-9">
            <input type="text" name="name" id="name" formControlName="name" class="form-control"/>
            <div
              *ngIf="!cont?.valid && (cont.name.dirty ||cont.name.touched)">
              <small *ngIf="cont.name.errors?.required"> NameContract is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="customer">CustomerName:</label></div>
          <div class="col-9">
            <select id="customer" formControlName="customer" class="form-select text-primary">
              <option value="">-- Choosen---</option>
              <option *ngFor="let cus of customers" [ngValue]="cus">{{cus.name}}</option>
            </select>
            <div *ngIf="!cont?.valid && (cont.customer.dirty ||cont.customer.touched)">
              <small *ngIf="cont.customer.errors?.required"> CustomerName is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="facility">FacilityName:</label></div>
          <div class="col-9">
            <select id="facility" formControlName="facility" class="form-select text-primary">
              <option value="">-- Choosen---</option>
              <option *ngFor="let fas of facilities" [ngValue]="fas">{{fas.name}}</option>
            </select>
            <div *ngIf="!cont?.valid && (cont.facility.dirty ||cont.facility.touched)">
              <small *ngIf="cont.facility.errors?.required"> FacilityName is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="employee">EmployeeName:</label></div>
          <div class="col-9">
            <select id="employee" formControlName="employee" class="form-select text-primary">
              <option value="">-- Choosen---</option>
              <option *ngFor="let emp of employees" [ngValue]="emp">{{emp.name}}</option>
            </select>
            <div *ngIf="!cont?.valid && (cont.employee.dirty ||cont.employee.touched)">
              <small *ngIf="cont.employee.errors?.required"> EmployeeName is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-label " for="startDate">StartDate: </label>
          </div>
          <div class="col-9">
            <input type="date" name="startDate" id="startDate" formControlName="startDate"
                   class="form-control text-primary"/>
            <div *ngIf="!cont?.valid && (cont.startDate.dirty ||cont.startDate.touched)">
              <small *ngIf="cont.startDate.errors?.required"> StartDate is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-label " for="endDate">EndDate: </label>
          </div>
          <div class="col-9">
            <input type="date" name="endDate" id="endDate" formControlName="endDate"
                   class="form-control text-primary"/>
            <div *ngIf="!cont?.valid && (cont.endDate.dirty ||cont.endDate.touched)">
              <small *ngIf="cont.endDate.errors?.required"> EndDate is required! </small>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-label " for="deposit">Deposit: </label>
          </div>
          <div class="col-9">
            <input type="number" name="deposit" id="deposit" formControlName="deposit"
                   class="form-control"/>
            <div *ngIf="!cont?.valid && (cont.deposit.dirty ||cont.deposit.touched)">
              <small *ngIf="cont.deposit.errors?.required"> Deposit is required! </small>
            </div>
          </div>
        </div>
        <hr>

        <div class="row text-lg-center align-items-center justify-content-center mb-2">
          <small>Enter correctly to show the summit button!!!</small>
          <button class="btn btn-primary w-25 me-2" *ngIf="contractForm.valid" type="submit">Submit</button>
          <button class="btn btn-primary w-25" [routerLink]="['/contract/list']" type="button">
            <i class="fa-solid fa-right-to-bracket"></i> ContractList
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col col-3"></div>
</div>
<app-footer></app-footer>
