<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10"><h1 class="text-primary">Video</h1>
      <hr>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="row">
            <iframe src="https://www.youtube.com/embed/211fBDKf_DQ"
                    style="margin:0;padding:0;width: 100%;height:300px;justify-content: center;align-items: center;
                    text-align: center;box-shadow: 0 0 15px 10px blueviolet;border-radius: 10px"
                    title="Wsport Quần Áo Cầu Lông Sỉ Lẻ" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
      <h1 class="text-primary mt-1">Giới thiệu</h1>
      <hr>
      <div class="row">
        <ul>
          <li> Được tin tưởng từ 2012 đến nay với các mặt hàng thể thao cầu lông như Áo Cầu Lông, Giầy Cầu
            Lông ,
            Balo - Túi xách đừng vợt , Vợt Cầu Lông và Phụ Kiện Cầu Lông Tại WSPORT hay aocaulong.com đang
            được
            rất nhiều cửa hàng ở tỉnh lẫn khách lẻ tin tưởng mua các sản phẩm chính hãng .Khách hàng thường
            xuyên được update các mẫu mã sản phẩm Quần Áo Cầu Lông Hot nhất thị trường với giá thành chỉ
            139.000
            đ/ áo và một số loại Áo cầu lông F1 là 180.000 đ . Cùng với đó các mẫu giầy như Giầy Cầu Lông
            Lining
            , Giầy Cầu Lông Kawsaki , Giầy Cầu Lông Yonex luôn được WSPORT đưa mới về theo từng đợt , thường
            thì
            là 2 tháng sẽ có 1-3 mẫu mới . Ngoài ra người mua hàng thường xuyên được hưởng các chính sách ưu
            đãi
            của cửa hàng như Thẻ Vip , Thẻ Thành Viên , Tích điểm được ưu đãi giảm từ 5-15% trên tổng hóa
            đơn
            cực kì hấp dẫn. Đối với dân chơi thể thao cầu lông tại khu vực miền bắc hoặc Nội thành Hà Nội
            cũng
            luôn tìm đến shop để trang bị cho mình những phụ kiên ngộ nghĩnh và chính hãng như cuốn vợt ,
            tất
            chính hãng , bó gối v,v .... Ngoài ra WSPORT cũng cung cấp sỉ cho rất nhiều cửa hàng trên cả
            nước
            với giá tốt nhất thị trường . Đến cả các sản phẩm chuyên về Căng vợt như Máy Căng Vợt tại WSPORT
            cũng cung cấp chính hãng, Hiện nay WSPORT đang thuộc Top Đầu đi đầu trong ngành cầu lông nên các
            tay
            vợt thủ cũng như các cửa hàng thể thao có thể yên tâm mua hàng tại đây. WSPORT Tuyển Đại Lí Khu
            Vực
            Hà Nội và Các Tỉnh Thành
          </li>
          <li>Chúng tôi đang tiến hành dự án tuyển cộng tác viên và đại lí , bán lẻ , bán buôn đồ thể thao cầu
            lông và quần áo thể thao VNXK chất liệu cực tốt giá đầu vào cực rẻVới khoản đầu tư 300 - 500
            triệu /
            mỗi cơ sở bạn có thể hợp tác với chúng tôi tạo ra showroom tại khu vực mà bạn mong muốn, cùng
            với
            mức thu nhập cho mỗi cửa hàng >10% mỗi tháng và luôn tăng trưởng
            Mọi nhu cầu liên hệ hotline : 0965.952.952
          </li>
        </ul>
        <div class="text-center">
          <img src="https://aocaulong.com/Uploads/images/yonex.jpg" alt="" class="mt-1 mb-1">
          <img src="https://aocaulong.com/Uploads/images/dai-ly-victor0_454671.jpg" alt="" class="mt-1 mb-1">
          <img src="https://aocaulong.com/Uploads/images/CHUNG%20NHAN%20LI.jpg" alt="" class="mt-1 mb-1">
        </div>
        <ul>
          <li>Shop cầu lông Wsport chuyên cung cấp các trang thiết bị bộ môn cầu lông như : vợt cầu lông, giày
            cầu
            lông, quần áo cầu lông và phụ kiện chính hãng, với kinh nghiệm gần 10 năm chắc chắn sẽ mang lại
            các
            sản phẩm đảm bảo chất lượng tốt nhất với giá cả hợp lí nhất cho khách hàng trên khắp cả nước.
            Sản
            phẩm được bán trực tiếp tại cửa hàng và Online. Wsport cũng cung cấp giá sỉ cho các shop muốn
            nhập
            hàng chuyên về môn thể thao cầu lông. Wsport hợp tác với các đối tác phân phối chính hãng như
            Yonex,
            Lining, Kawasaki, Victor những thương hiệu nổi tiếng để đảm bảo dịch vụ sản phẩm tốt cho khách
            hàng,
            các sản phẩm cũng được bảo hành dài hạn. Hãy đến ngay shop cầu lông Wsport để trải nghiệm.
            Đến showroom chúng tôi dù bạn mua một món lẻ như đôi Giầy Cầu Lông hoặc full bộ thể thao cầu
            lông
            chúng tôi cũng đều bán với giá tốt nhất thị trường.
          </li>
          <li>Sản phẩm của chúng tôi từ áo cầu lông cho đến Giày Cầu Lông hay vợt đều được test kĩ về chất
            lượng
            và được quý khách hàng ủng hộ lâu năm trên thị trường.
          </li>
          <li> Yên tâm về chất lượng, yên tâm về giá cả từ Áo Cầu Lông, Giầy Cầu Lông cho đến phụ kiện. Hãy
            đến với
            chúng tôi để lựa chọn được sản phẩm tốt nhất.
          </li>
        </ul>

      </div>

    </div>

    <div class="col-1"></div>
  </div>
</div>
