<div class="container-fluid mt-1">
  <div class="row mb-1 p-5">
    <div class="col-1"></div>
    <div class="card col-10 img-body">
      <div class="row">
        <div class="col-4 align-items-center">
                    <div class="main mt-2">
                      <img src="{{imgList[0]?.url}}"
                           class="img-feature" alt="">
                      <div class="control prev "><i class="bi bi-arrow-left-square-fill"></i></div>
                      <div class="control next "><i class="bi bi-arrow-right-square-fill"></i></div>
                    </div>
                    <div class="list-img">
                      <div *ngFor="let img of imgList "><img
                        src="{{img.url}}"  alt="">
                      </div>
                    </div>
<!--          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">-->
<!--            <div class="carousel-inner">-->
<!--              <div class="carousel-item active" data-bs-interval="2500" *ngFor="let img of imgList ">-->
<!--                <img src="{{img.url}}" class="d-block" style="width: 400px;height: 400px" alt="...">-->
<!--              </div>-->
<!--            </div>-->
<!--            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"-->
<!--                    data-bs-slide="prev">-->
<!--              <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--              <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"-->
<!--                    data-bs-slide="next">-->
<!--              <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--              <span class="visually-hidden">Next</span>-->
<!--            </button>-->
<!--          </div>-->
        </div>

        <div class="col col-5">
          <div class="card-body">
            <ul>
              <li class="card-title"><p class="card-title"><b>{{clockDetail?.name}}</b></p>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Quốc gia đăng ký thương hiệu: </span><span
                class="badge text-bg-warning">{{clockDetail?.countryRegistration}}</span></h6>
                <hr>
              </li>
              <li><h6 class="card-title">Bảo Hành : <span class="badge  text-bg-success">90 ngày</span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title">Thanh toán khi nhận hàng, giao hàng miễn phí toàn quốc</h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Giá: </span> <span
                class="badge  text-bg-danger">{{clockDetail?.price|number}} VNĐ </span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Tình trạng: </span><span class="badge  text-bg-primary"
              >{{clockDetail.quanlity != undefined && clockDetail.quanlity > 0 ? 'Còn hàng' : 'Hết Hàng'}} </span>
              </h6>
                <hr>
              </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-primary me-2 mt-1 mb-1"><i
                class="bi bi-bag-plus-fill"></i> Thêm vào giỏ Hàng </a>
              <a class="btn btn-primary "><i
                class="fa-solid fa-file-invoice-dollar"></i> Mua ngay </a>
            </div>
          </div>
        </div>

        <div class="col col-3">
          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-location-dot"></i></div>
            <div class="col-9">
              <h6> ĐỊA ĐIỂM GIAO HÀNG</h6>
              <p><b class="text-bg-danger" style="border-radius: 5px;padding: 1px">Giao hàng toàn quốc</b></p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-phone-volume"></i></div>
            <div class="col-9">
              <h6>HỖ TRỢ TƯ VẤN</h6>
              <p><b class="text-bg-danger" style="border-radius: 5px;padding: 1px">0965.952.952 | 0354.000.111</b></p>
              <p><b class="text-bg-success " style="border-radius: 5px;padding: 1px">Thứ 2 - 7 : 08g30 - 17g30</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Thông số kỹ thuật</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="card tskt">
            <div class="card-body">

              <div class="row">
                <div class="col-5"><b>Thương hiệu:</b></div>
                <div class="col-7"><span class="text-bg-success "
                                         style="border-radius: 5px;padding: 1px">{{clockDetail.trademark?.name}}</span>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5"><b>Giới tính:</b></div>
                <div class="col-7"><span
                  class="text-bg-success "
                  style="border-radius: 5px;padding: 1px">{{clockDetail.gender == true ? 'Nam' : 'Nữ'}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Kiểu máy:</b></div>
                <div class="col-7"><span class="text-bg-success "
                                         style="border-radius: 5px;padding: 1px">{{clockDetail?.machineType?.name}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Đường kính mặt:</b></div>
                <div class="col-7"><span class="text-bg-success "
                                         style="border-radius: 5px;padding: 1px">{{clockDetail.faceDiameter}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Độ dày:</b></div>
                <div class="col-7"><span class="text-bg-success "
                                         style="border-radius: 5px;padding: 1px">{{clockDetail.thick}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Chất liệu vỏ:</b></div>
                <div class="col-7"><span
                  class="text-bg-success " style="border-radius: 5px;padding: 1px">{{clockDetail.shellMaterial}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Chất liệu dây:</b></div>
                <div class="col-7"><span
                  class="text-bg-success " style="border-radius: 5px;padding: 1px">{{clockDetail.ropeMaterial}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Chất liệu mặt kính:</b></div>
                <div class="col-7"><span
                  class="text-bg-success " style="border-radius: 5px;padding: 1px">{{clockDetail.glassMaterial}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Khả năng chịu nước:</b></div>
                <div class="col-7"><span class="text-bg-success "
                                         style="border-radius: 5px;padding: 1px">{{clockDetail.resistanceWater}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-5"><b>Nơi sản xuất:</b></div>
                <div class="col-7"><span
                  class="text-bg-success " style="border-radius: 5px;padding: 1px">{{clockDetail.origin}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Giới thiệu sản phẩm</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>

      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p>
            Vợt cầu lông Lining chính hãng HC1000 black với thiết kế thân dẻo giúp bạn có những pha xử lý linh
            hoạt thích hợp với những người có lối đánh công thủ toàn diện, đặc biệt là phù hợp với những bạn mới
            bắt đầu tập chơi.
            Vợt cầu lông Lining mới nhất HC1000 black thuộc dòng vợt cân bằng nên phông cầu có cảm giác thoát
            tay,
            nhẹ nhàng, dễ về cuối sân, không cần dùng quá nhiều lực, tiếng phông cầu rất đã tai. Khi đập cầu,
            vợt hỗ
            trợ nhiều lực giúp dễ đập hơn, đặc biệt với những người có cổ tay chưa được khỏe,
            dễ dàng xử lí trong mọi tình huống. Trong phòng thủ cây vợt này dễ dàng xử lí tình huống một cách
            linh
            hoạt, bắt lưới nhanh và trợ lực từ
            thân vợt tốt. Với dòng vợt High Carbon cao cấp chắc các bạn sẽ không còn nỗi lo khi vợt bị va chạm
            bởi
            dòng vợt này
            tối ưu rất tốt bổ sung thêm phần carbon vào những phần yếu nhất để đảm bảo cho vợt chắc chắn đàn hồi
            tốt.Nhìn chung cây vợt cầu lông công Lining công thủ toàn diện HC1000 black chính hãng với thân vợt
            dẻo
            và
            đây là cây vợt cân bằng nên tấn công và phòng thủ đều rất tốt đấy nhé ! Là sự lựa chọn hoàn hảo dành
            cho
            các bạn mới tập chơi.</p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="container-fluid mt-2 mb-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Sản phẩm liên quan</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <!--          Owl-Carousel-->
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let clock of clockListByTrademark">
              <ng-template carouselSlide>
                <a [routerLink]="['/detail',clock.clockId]" class="text-decoration-none">
                  <div class="card img-detail mt-1 mb-1 ms-2 me-2">
                    <div>
                      <img src="{{clock.url}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center content bg-dark text-light" style="border-radius: 2px">
                      <p class="card-text">{{clock.clockName}}</p>
                      <h4 class="card-title"><span class="badge text-bg-primary">{{clock.price |number: '1.0-0'}}
                        VNĐ</span>
                      </h4>
                    </div>
                  </div>
                </a>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
