<button id="btnScrollToTop" (click)="scroll()">
  <i class="fa-solid fa-angles-up"></i>
</button>

<div class="container-fluid" style=" background: linear-gradient(to right, #d9f5db, #739a96)">
  <div class="row mb-1 p-5">
    <div class="col-1"></div>
    <div class="card col-10 img-body">
      <div class="row">
        <div class="col-4 align-items-center">
          <div class="main mt-2">
            <img src="{{imgList[0]?.url}}"
                 class="img-feature" alt="">
            <div class="control prev "><i class="bi bi-arrow-left-square-fill"></i></div>
            <div class="control next "><i class="bi bi-arrow-right-square-fill"></i></div>
          </div>
          <div class="list-img">
            <div *ngFor="let img of imgList ">
              <img src="{{img.url}}" alt="">
            </div>
          </div>
        </div>

        <div class="col col-5">
          <div class="card-body">
            <ul>
              <li class="card-title"><p class="card-title">
                <span class="text-bg-warning"
                      style="border-radius: 5px;padding: 3px"><b>{{clockDetail?.name}}</b></span>
              </p>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Quốc gia đăng ký thương hiệu: </span>
                <span class="text-bg-primary"
                      style="border-radius: 5px;padding: 3px"><b>{{clockDetail?.countryRegistration}}</b>
                </span></h6>
                <hr>
              </li>
              <li><h6 class="card-title">Bảo Hành : <span class="text-bg-success"
                                                          style="border-radius: 5px;padding: 3px"><b>90 ngày</b></span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title">Thanh toán khi nhận hàng, giao hàng miễn phí toàn quốc</h6>
                <hr>
              </li>
              <li><h6 class="card-title"><span>Giá: </span>
                <span class="text-bg-danger"
                      style="border-radius: 5px;padding: 2px"><b>{{clockDetail?.price|number}}</b> VNĐ </span>
              </h6>
                <hr>
              </li>
              <li><h6 class="card-title">
                <span>Tình trạng: </span>
                <span class="text-bg-primary"
                      style="border-radius: 5px;padding: 2px"><b>{{clockDetail.quanlity != undefined && clockDetail.quanlity > 0 ? 'Còn hàng' : 'Hết Hàng'}}</b>
              </span>
              </h6>
                <hr>
              </li>
            </ul>
            <div *ngIf="roles[0]=='ROLE_USER'||roles[0]=='ROLE_ADMIN',else block2">
              <div class="d-flex align-items-center justify-content-center my-3"
                   *ngIf="clockDetail.quanlity != undefined && clockDetail.quanlity > 0">
                <span>Số lượng: </span>
                <button class="btn btn-sm btn-primary mx-1" style="width: 25px" (click)="subQuanlity()">-</button>
                <input #minmax (change)="change(+minmax.value)" class="form-control-sm mx-1"
                       style="width: 20%;text-align: center; border: solid 1px #3167eb"
                       type="text" [(ngModel)]="numberPay">
                <button class="btn btn-sm btn-primary mx-1" style="width: 25px" (click)="addQuanlity()">+</button>
              </div>

              <div class="text-center" *ngIf="clockDetail.quanlity != undefined && clockDetail.quanlity > 0,else block">
                <a class="btn btn-primary me-2 mt-1 mb-1" (click)="addToCart(clockDetail)"><i
                  class="bi bi-bag-plus-fill"></i> Thêm vào giỏ Hàng </a>
              </div>
            </div>
            <ng-template #block2>
              <h6><b class="text-danger">Cảm ơn quý khách đã quan tâm đến sản phẩm.Quý khách cần đăng nhập tài khoản để thực hiện
                chức năng thêm vào giỏ hàng và thanh toán!!!</b></h6>
            </ng-template>
            <ng-template #block>
              <div class="text-center text-primary"><b>Cảm ơn quý khách đã quan tâm đến sản phẩm.Hàng đang về mong quý
                khách ghé lại sau!!!</b></div>
            </ng-template>
          </div>
        </div>

        <div class="col col-3">
          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-location-dot"></i></div>
            <div class="col-9">
              <h6> ĐỊA ĐIỂM GIAO HÀNG</h6>
              <p><b class="text-bg-danger" style="border-radius: 5px;padding: 1px">Giao hàng toàn quốc</b></p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-3 text-center text-primary d-flex align-items-center" style="font-size: 40px"><i
              class="fa-solid fa-phone-volume"></i></div>
            <div class="col-9">
              <h6>HỖ TRỢ TƯ VẤN</h6>
              <p><b class="text-bg-danger" style="border-radius: 5px;padding: 1px">0965.952.952 | 0354.000.111</b></p>
              <p><b class="text-bg-success " style="border-radius: 5px;padding: 1px">Thứ 2 - 7 : 08g30 - 17g30</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="mt-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Thông số kỹ thuật</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="card card-body box gradient-border" style="width: 98%">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="">
              <div class="row">
                <div class="col-5">Thương hiệu:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail.trademark?.name}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5"><b>Giới tính:</b></div>
                <div class="col-7"><b class="text-bg-danger "
                                      style="border-radius: 5px;padding: 4px">{{clockDetail.gender == true ? 'Nam' : 'Nữ'}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Kiểu máy:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.machineType?.name}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Đường kính mặt:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.faceDiameter}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Độ dày:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.thick}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Chất liệu vỏ:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.shellMaterial}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Chất liệu dây:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.ropeMaterial}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Chất liệu mặt kính:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.glassMaterial}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Khả năng chống nước:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.resistanceWater}}</b>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-5">Nơi sản xuất:</div>
                <div class="col-7"><b class="text-bg-danger"
                                      style="border-radius: 5px;padding: 4px">{{clockDetail?.origin}}</b>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>

    <div class="mt-2 mb-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2><b>Sản phẩm liên quan</b></h2>
          <hr>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <!--          Owl-Carousel-->
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let clock of clockListByTrademark">
              <ng-template carouselSlide>
                <a [routerLink]="['/detail',clock.clockId]" class="text-decoration-none">
                  <div class="card img-detail mt-1 mb-1 ms-2 me-2">
                    <div>
                      <img src="{{clock.url}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center content text-light" style="background-color: black">
                      <p class="card-text text-danger" style="font-size: 13px">{{clock.clockName}}</p>
                    </div>
                  </div>
                </a>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
