<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        * {
            font-family: "Palatino Linotype"
        }

        input {
            width: 100%;
            border-radius: 5px;
        }

        span {
            font-size: 30px;
            color: red
        }
    </style>
    <title>BossTran</title>
</head>
<body>
<div th:replace="~{layout::header}"></div>
<div class="row message">
    <div class="text-center"><span><b>Blog List</b></span>
        <span th:text="${message}"></span>
    </div>
</div>
<div class="row mt-2">
    <table border="1" class="table table-hover table-primary text-center">
        <tr>
            <th>STT</th>
            <th>Blog Name</th>
            <th>Author</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <th:block th:each="blog,stt : ${blogList}">
            <tr>
                <td th:text="${stt.count}+${blogList.number}*${blogList.size}"></td>
                <td th:text="${blog.blogName}"></td>
                <td th:text="${blog.author}"></td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit"
                            th:attr="onclick=|editModal('${blog.id}','${blog.blogName}','${blog.content}','${blog.author}','${blog.dateWriting}');|">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"
                            th:attr="onclick=|showAlertDelete('${blog.id}','${blog.blogName}');|" data-bs-toggle="modal"
                            data-bs-target="#delete">Delete
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#view"
                            th:attr="onclick=|viewModal('${blog.id}','${blog.blogName}','${blog.content}','${blog.author}','${blog.dateWriting}');|">
                        View
                    </button>
                </td>
            </tr>
        </th:block>
    </table>
    <div>
        <a th:href="@{'/'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}"><button type="button" class="btn btn-outline-primary">Previous</button></a>
        <span style="font-size: 20px" th:text="${blogList.number + 1}"></span>/<span style="font-size: 20px" th:text="${blogList.totalPages}"></span>
        <a th:href="@{'/'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}"><button type="button" class="btn btn-outline-primary">Next</button></a>
    </div>
</div>
<div th:replace="~{layout::footer}"></div>

<!--Add modal-->
<div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/create}" method="post">
                <div class="modal-header text-lg-center text-primary">
                    <h1 class="modal-title fs-5">Add New Blog</h1>
                </div>
                <div class="modal-body bg-primary text-light">
                    <label hidden for="addId">ID: </label>
                    <input hidden type="text" id="addId" name="id"><br>
                    <label for="addBlogName">Blog Name: </label>
                    <input type="text" id="addBlogName" name="blogName"><br>
                    <label for="addContent">Content: </label>
                    <input type="text" id="addContent" name="content"><br>
                    <label for="addAuthor">Author: </label>
                    <input type="text" id="addAuthor" name="author"><br>
                    <label for="addDateWriting">Author: </label>
                    <input type="date" id="addDateWriting" name="dateWriting"><br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add New Blog</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Edit modal-->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/edit}" method="post">
                <div class="modal-header text-lg-center text-primary">
                    <h1 class="modal-title fs-5">Edit Blog</h1>
                </div>
                <div class="modal-body bg-primary text-light">
                    <label hidden for="editId">ID: </label>
                    <input hidden type="text" readonly id="editId" name="id"><br>
                    <label for="editBlogName">Blog Name: </label>
                    <input type="text" id="editBlogName" name="blogName"><br>
                    <label for="editContent">Content: </label>
                    <input type="text" id="editContent" name="content"><br>
                    <label for="editAuthor">Author: </label>
                    <input type="text" id="editAuthor" name="author"><br>
                    <label for="editDateWriting">Author: </label>
                    <input type="date" id="editDateWriting" name="dateWriting"><br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit Blog</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--View Modal-->
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-lg-center text-primary">
                <h1 class="modal-title fs-5">Information Blog</h1>
            </div>
            <div class="modal-body bg-primary text-light">
                <label for="viewId">ID: </label>
                <input type="text" readonly id="viewId"><br>
                <label for="viewBlogName">Blog Name: </label>
                <input type="text" readonly id="viewBlogName"><br>
                <label for="viewContent">Content: </label>
                <input type="text" readonly id="viewContent"><br>
                <label for="viewAuthor">Author: </label>
                <input type="text" readonly id="viewAuthor">
                <label for="viewDateWriting">Author: </label>
                <input type="text" readonly id="viewDateWriting">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/delete}">
                <div class="modal-body bg-danger text-center text-light">
                    <h3>Are you sure you want to delete?</h3>
                    <h2 id="deleteAlert"></h2>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" th:id="deleteConfirm" th:name="deleteConfirm">
                        Acept
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    /*===DELETE==*/
    function showAlertDelete(id, blogName) {
        document.getElementById("deleteAlert").innerText = blogName;
        document.getElementById("deleteConfirm").value = id;
    }

    /*===VIEW====*/
    function viewModal(id, blogName, content, author, dateWriting) {
        document.getElementById("viewId").value = id;
        document.getElementById("viewBlogName").value = blogName;
        document.getElementById("viewContent").value = content;
        document.getElementById("viewAuthor").value = author;
        document.getElementById("viewDateWriting").value = dateWriting;
    }

    /*===EDIT===*/
    function editModal(id, blogName, content, author, dateWriting) {
        document.getElementById("editId").value = id;
        document.getElementById("editBlogName").value = blogName;
        document.getElementById("editContent").value = content;
        document.getElementById("editAuthor").value = author;
        document.getElementById("editDateWriting").value = dateWriting;
    }

</script>
</html>