<div class="container-fluid footer" style="background-color: black;color: white">
  <div class="row">
    <div class="col-4 mt-2">
      <h6><b>TÀI KHOẢN NGÂN HÀNG</b></h6>
      <h6 style="color: red"><b>BIDV : 999.999.999.999 - TRẦN QUỐC ĐẠT</b></h6>
      <h6 style="color: blue"><b>VIETCOMBANK : 99.228.99999 - TRẦN QUỐC ĐẠT</b></h6>
      <hr>
      <h6>Website: www.clockshop.com</h6>
      <h6>NHÀ PHÂN PHỐI SỈ - LẺ TRANG THIẾT BỊ THỂ THAO CHUYÊN NGHIỆP CHÍNH HÃNG TRÊN TOÀN QUỐC</h6>
      <h6><i class="bi bi-telephone"></i> :0965.952.952 - 038.542.5443 </h6>
      <h6><i class="bi bi-envelope-at-fill"></i> : caulong24h@gmail.com</h6>
      <h6><i class="bi bi-geo-alt"></i> Cơ Sở Hà Nội : 11/6 ĐỘI NHÂN - ĐỐC NGỮ - BA ĐÌNH </h6>
      <h6><i class="bi bi-geo-alt"></i> Cơ Sở HCM : 108/2/9 Cộng Hòa - P.4 - Q.Tân Bình( chỉ bán online )</h6>
      <h6><i class="bi bi-geo-alt"></i> Cơ Sở Đà Nẵng : 280 Trần Hưng Đạo - Q.Ngũ Hành Sơn (chỉ bán online )
      </h6>
    </div>
    <div class="col-4"></div>
    <div class="col-4 mt-2">
      <h6><b>CHĂM SÓC KHÁCH HÀNG</b></h6>
      <hr>
      <h6><span style="color: red"><b>HOTLINE</b>:</span> 0965.952.952 | 0354.000.111</h6>
    </div>
  </div>

</div>
