<div class="container-fluid" style=" background: linear-gradient(to right, #d9f5db, #739a96)">
  <div class="row pt-5 pb-5">
    <div class="col-6">
      <form style="border-style: solid;  border-width: 1px;  border-color: red;  border-radius: 15px;min-height: 100%">
        <fieldset>
          <legend class="text-start text-light"><strong
            style="position: relative;top: -22px;background-color: blue;  left: 30px;border-radius: 5px;padding: 5px">
            Biểu đồ doanh thu các năm </strong></legend>
          <div class="row">
            <div class="col col-sm col-md col-lg col-xl col-xxl text-primary text-center">
              <label>
                <!--              <select #yearChange (change)="changeYear(yearChange.value)"-->
                <!--                      class="form-select me-1 align-items-center justify-content-center text-danger">   -->
                <select class="form-select me-1 align-items-center justify-content-center text-danger">
                  <option selected value="-1">--- Xem tất cả ---</option>
                  <option selected value="-1">--- 2022 ---</option>
                  <option selected value="-1">--- 2023 ---</option>
                  <!--                <option *ngFor="let year of yearList" [ngValue]="year">{{year}}</option>-->
                </select>
              </label>
            </div>
            <div style="width:100%">
              <canvas id="myChart1" width="100%" height="75"></canvas>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
