<div class="container-fluid" style="background: linear-gradient(to right, #d9f5db, #739a96)">
  <div>
    <div class="row pb-2">
      <!--      <video style="width: 100%;min-height: 20%" class="mt-2"-->
      <!--        src="https://firebasestorage.googleapis.com/v0/b/shopping-cart-5cc4d.appspot.com/o/NameURL%3A%201uep7uen4li%2013-03-2023%2011%3A12%3A07AM?alt=media&token=321d7e03-4ffa-47ab-bf3e-f09be9a71acb"-->
      <!--        loop muted autoplay playsinline></video>-->
      <div class="col-12">
        <div class="row justify-content-center align-items-center pt-2">
          <button class="custom-btn btn-1 me-3" (click)="changeInfo()" style="font-size: 20px"><span>Click!</span><span>Thông tin khách hàng</span>
          </button>

          <button class="custom-btn btn-2 " (click)="changeHistory()" style="font-size: 20px"><span>Click!</span><span>Lịch sử giao dịch</span>
          </button>
        </div>
        <br>

        <div>
          <div class="row" *ngIf="checkInfo">
            <div class="col-2"></div>
            <div class="col-4">
              <div class="card card-body"
                   style="min-height: 100%;width: 98%;   box-shadow: 0 20px 50px rgb(23, 32, 90); ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="change-avatar text-center">
                  <img src="{{avatarUser}}"
                       style="width: 300px; height: 300px;border-radius: 50%;   box-shadow: 0 0 10px 5px rgb(3, 22, 114);
;
 "
                       alt="...">
                </div>
                <br>
                <app-upload-avatar (urlCreate)="uploadAvatar($event)" class="mt-2"></app-upload-avatar>
                <form class="d-flex justify-content-center align-items-center" (ngSubmit)="onSubmit()">
                  <button class="snip1582" type="submit">Thay đổi Avatar</button>
                </form>
              </div>
            </div>

            <div class="col-4 text-primary ">
              <div class="card card-body box gradient-border" style="min-height: 100%; width: 98%">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div>
                  <div><h1 CLASS="text-center">THÔNG TIN CÁ NHÂN</h1></div>
                  <div class="row">
                    <div class="col-3">Khách Hàng:</div>
                    <div class="col-9"><b class="text-bg-danger"
                                          style="border-radius: 5px;padding: 4px">{{customer.customerName}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">Số điện thoại:</div>
                    <div class="col-9">
                      <b class="bg-danger border-5"
                         style="border-radius: 5px;padding: 4px" *ngIf="customer.phone !=undefined">{{customer.phone | phoneNumber}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">Email:</div>
                    <div class="col-9"><b class="text-bg-danger"
                                          style="border-radius: 5px;padding: 4px">{{customer.email}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">CCCD:</div>
                    <div class="col-9">
                      <b class="text-bg-danger"
                         style="border-radius: 5px;padding: 4px"
                         *ngIf="customer.idCard!=undefined">{{customer.idCard | CCCD}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">Giới Tính:</div>
                    <div class="col-9"><b class="text-bg-danger"
                                          style="border-radius: 5px;padding: 4px">{{customer.gender ? 'Nam' : 'Nữ'}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">Địa chỉ:</div>
                    <div class="col-9"><b class="text-bg-danger"
                                          style="border-radius: 5px;padding: 4px">{{customer.addressCustomer}}</b>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">Ngày sinh:</div>
                    <div class="col-9"><b class="text-bg-danger"
                                          style="border-radius: 5px;padding: 4px">{{customer.birthday|date:'dd/MM/yyyy'}}</b>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="checkHistory">
            <div>
              <table class="table table-dark table-hover text-light" style="height: 35vh">
                <thead>
                <tr>
                  <th style="width: 1%">STT</th>
                  <th style="width: 27%">Tên sản phẩm</th>
                  <th style="width: 7%;text-align: center">Số lượng</th>
                  <th style="width: 10%">Giá (VNĐ)</th>
                  <th style="width: 15%">Thành tiền(VNĐ)</th>
                  <th style="width: 15%">Ngày đặt hàng</th>
                  <th style="width: 15%">Ngày thanh toán</th>
                  <th style="width: 10%">Tình trạng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of historyCart| paginate:{itemsPerPage:5,currentPage:p} ;index as i">
                  <td>{{i + 1 + itemsPerPage * (p - 1)}}</td>
                  <td>{{item.clockName}}</td>
                  <td class="text-center">{{item.quanlityCart}}</td>
                  <td>{{item.clockPrince|number}}</td>
                  <td
                    *ngIf="item.quanlityCart!=undefined && item.clockPrince!=undefined">{{item.quanlityCart * item.clockPrince|number}}</td>
                  <td>{{item.createDate|date:'dd/MM/yyyy  hh:mm:ssa'}}</td>
                  <td>{{item.payDate|date:'dd/MM/yyyy  hh:mm:ssa'}}</td>
                  <td>{{item.status == true ? 'Đã thanh toán' : 'Chưa thanh toán'}}</td>
                </tr>
                <tr>
                  <td colspan="8" *ngIf="historyCart.length==0" class="text-center text-danger">Không tìm thấy kết quả.
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="historyCart.length!=0">
              <pagination-controls class="text-center text-danger" previousLabel="Trang trước" nextLabel="Trang sau"
                                   (pageChange)="p=$event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
