<div class="row mt-5">
  <div class="col-8">

    <table class="table table-dark text-center table-hover text-light">
      <thead>
      <tr>
        <th colspan="11" class="text-danger">
          <div class="row">
            <div class="col-3">
              <h3>Bài đăng</h3>
            </div>
            <div class="col-6">
              <form class="d-flex justify-content-center">

                <select #month style="width: 100%"
                        class="form-select text-danger me-1">
                  <option value="-1">Tháng</option>
                  <option *ngFor="let month of monthList" [ngValue]="month">{{month}}</option>
                </select>
                <select #year style="width: 100%" class="form-select text-danger me-1">
                  <option value="-1" selected>Năm</option>
                  <option *ngFor="let year of yearList" [ngValue]="year">{{year}}</option>
                </select>
                <button class="btn btn-outline-danger me-1" (click)="onSearch(month.value,year.value)"
                        type="button"><i class="fa-brands fa-searchengin"></i></button>
              </form>
              <small>Chọn năm hoặc chọn cả năm và tháng để tìm kiếm kết quả!!!</small>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th hidden>ID</th>
        <th>Ngày</th>
        <th>Vị trí</th>
        <th>Giá Cả</th>
        <th>Tình trạng</th>
        <th>Lợi nhuận</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-danger"
          *ngFor="let post of postList ;index as i ">
        <td hidden>{{post.idPost}}</td>
        <td>{{post.dateCreation | date:'dd/MM/yyyy'}}</td>
        <td>{{post.numberPost + ',' + post.nameWard + ',' + post.nameDistrict + ',' + post.nameCity}}</td>
        <td>{{post.price | currency: "VND"}}</td>
        <td>{{post.statusPost == 1 ? 'Thành Công' : 'Thất Bại'}}</td>
        <td *ngIf="post.statusPost==2,else block1">{{post.price * 0|currency: "VND"}}</td>
        
        <ng-template #block1>
          <td *ngIf="0<post.price && post.price<2000000000">{{post.price * 0.02|currency: "VND"}}</td>
          <td *ngIf="2000000000<=post.price && post.price<3000000000">{{post.price * 0.03 |currency: "VND"}}</td>
          <td *ngIf="3000000000<=post.price && post.statusPost==1">{{post.price * 0.05|currency: "VND"}}</td>
        </ng-template>
      <tr>
      <tr>
        <td colspan="9" *ngIf="postList==null">No Result!!!</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="col-4 text-primary">
    <h5>Số bài đăng thành công: {{countSuccess}}/{{countTotal}}</h5>
    <h5>Tổng giao dịch: {{totalTransaction |currency: "VND"}} </h5>
    <div class="row">
      <div class="col-6"><h5>Biểu đồ bài đăng năm:</h5></div>
      <div class="col-6">
        <select #yearchange (change)="changeYear(yearchange.value)" style="width: 50%" class="form-select text-danger me-1">
          <option *ngFor="let year of yearList" [selected]="currentYear" [ngValue]="year">{{year}}</option>
        </select>
      </div>
    </div>

    <div style="width:100%;">
      <canvas id="myChart" width="100%" height="75"></canvas>
    </div>
  </div>
</div>
<!--<router-outlet></router-outlet>-->

