/* Nút Dropdown*/
.nut_dropdown {
  /*background-color: #0080ff;*/
  color: white;
  /*padding: 16px;*/
  /*font-size: 16px;*/
  border: none;
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  /*Ẩn nội dung các đường dẫn*/
  display: none;
  position: absolute;
  /*background-color: black;*/
  min-width: 160px;
  /*box-shadow: 0 0 10px 5px rgb(3, 22, 114);*/
  z-index: 1;
}

/* Thiết kế style cho các đường dẫn trong Dropdown */
.noidung_dropdown a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  background: #4c39f6;
}

/* thay đổi màu background khi hover vào đường dẫn */
.noidung_dropdown a:hover {
  background-color: #ddd;
  color: red
}

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {
  display: block;
}


div.container {
  margin: 0 auto;
  padding: 1.5em 1em;
  text-align: center;
}

div.container a {
  color: #FFF;
  text-decoration: none;
  margin: 0px 3px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.borderYtoX a:before, div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}

div.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

.teal {
  background: black;
}
.teal a:active{
  background: #739a96;
}

/*!* runcaroulsel*!*/
/*.runcarousel {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background: blue;*/
/*  font-size: 16px;*/
/*}*/

/*.Marquee {*/
/*  !*background: linear-gradient(-135deg, #008ed9, #8b00db);*!*/
/*  width: 95%;*/
/*  box-sizing: border-box;*/
/*  color: black;*/
/*  font-weight: 200;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  overflow: hidden;*/
/*}*/

/*.Marquee-content {*/
/*  display: flex;*/
/*  animation: marquee 10s linear infinite running*/
/*}*/

/*.Marquee-content:hover {*/
/*  animation-play-state: paused*/
/*}*/

/*.Marquee-tag {*/
/*  width: 100px;*/
/*  !*background: black;*!*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  transition: all 1s ease*/
/*}*/

/*.Marquee-tag:hover {*/
/*  background: rgba(236, 6, 6, 1);*/
/*  transform: scale(1.1);*/
/*  cursor: pointer*/
/*}*/


@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translate(-50%)
  }
}

/*TẠO HIỆU ỨNG CHỮ*/

@keyframes filling {
  from {
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/157/130/452/time-style-retro-watch-wallpaper-preview.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #FFFFFF;
  font-size: 140px;
  font-family: 'Bungee';
  animation: filling 5s ease forwards infinite running
}


