<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col-6">
      <form>
        <div class="row">
          <div class="col-9">
            <label style="width: 100%">
              <input type="text" class="form-control mb-1" placeholder="VD:LINING,KUMPOO" style="width: 100%">
            </label>
          </div>
          <div class="col-3">
            <button style="width: 100%" class="btn btn-primary ms-1 mb-1" type="button"><i class="bi bi-search"></i> Tìm
              kiếm
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3"></div>

  </div>
  <div class="body row mt-3 mb-3 ms-1">
<!--    <div class="col-4">-->
<!--      <div class="container-fluid mb-2">-->
<!--        <div class="row bg-secondary text-light justify-content-center mt-1 mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px black;border-radius: 3px">DANH MỤC VỢT-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG LINING-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG KUMPOO-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG YONEX-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG MIZUNO-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG VICTOR-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG GUANGYU-->
<!--        </div>-->
<!--        <div class="row bg-light justify-content-center mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blue;border-radius: 3px">-->
<!--          VỢT CẦU LÔNG ASHAWAY-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container-fluid">-->
<!--        <div class="row bg-secondary text-light justify-content-center mt-1 mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px black;border-radius: 3px">SẢN PHẨM NỔI BẬT-->
<!--        </div>-->
<!--        <div class="row mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blueviolet;border-radius: 3px;">-->
<!--          <div class="col-4"><img style="width: 100%"-->
<!--                                  src="https://aocaulong.com/images/pro/vot-cau-long-lining-bladex-800-chinh-hang_18553.jpg"-->
<!--                                  alt="">-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <h6><b>Vợt Cầu Lông Lining Bladex 800 Chính Hãng</b></h6>-->
<!--            <h6><b>Giá : 4,119,000 VNĐ</b></h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blueviolet;border-radius: 3px;">-->
<!--          <div class="col-4"><img style="width: 100%"-->
<!--                                  src="https://aocaulong.com/images/pro/vot-cau-long-lining-tectonic-6-chinh-hang_18551.jpg"-->
<!--                                  alt="">-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <h6><b>Vợt Cầu Lông Lining Tectonic 6 Chính Hãng</b></h6>-->
<!--            <h6><b>Giá : 3,319,000 VNĐ</b></h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blueviolet;border-radius: 3px;">-->
<!--          <div class="col-4"><img style="width: 100%"-->
<!--                                  src="https://aocaulong.com/images/pro/vot-cau-long-yonex-arcsaber-71-light-chinh-hang_20595.jpg"-->
<!--                                  alt="">-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <h6><b>Vợt Cầu Lông Yonex Arcsaber 71 Light Trắng Chính Hãng</b></h6>-->
<!--            <h6><b>Giá : 2,119,000 VNĐ</b></h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb-1 me-1 ms-1"-->
<!--             style="border: solid 1px blueviolet;border-radius: 3px;">-->
<!--          <div class="col-4"><img style="width: 100%"-->
<!--                                  src="https://aocaulong.com/images/pro/vot-cau-long-lining-lightning-2000-chinh-hang_15266.jpg"-->
<!--                                  alt="">-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <h6><b>Vợt Cầu lông Lining Lightning 2000 Chính Hãng ( Red , Blue , Green )</b></h6>-->
<!--            <h6><b>Giá : 1,899,000 VNĐ</b></h6>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="col">
      <h1 class="text-primary mt-1">Sản phẩm</h1>
      <hr>
      <div class="row mt-1 mb-1" >
        <div class="col-3 mt-2 mb-2" *ngFor="let prod of productList?.content">
          <a routerLink="/detail" class="text-decoration-none">
            <div class="card img-detail" style="box-shadow: 0px 0px 10px 5px rgb(3, 22, 114);min-height: 100%">
              <img src="{{prod.url}}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">{{prod.nameProduct}}</p>
                <h4 class="card-title"><span class="badge text-bg-success">{{prod.price |number: '1.0-0'}} VNĐ</span></h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
