<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div id="carouselExampleInterval" class="carousel slide  mt-2" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1500">
            <img src="https://zenwatch.vn/thumb/crop/12984/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="https://zenwatch.vn/thumb/crop/7730/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="https://zenwatch.vn/thumb/crop/5690/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="https://zenwatch.vn/thumb/crop/7862/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="https://zenwatch.vn/thumb/crop/5692/1920/950/" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>


  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col-6 mt-2">
      <form>
        <div class="row">
          <div class="col-9">
            <label style="width: 100%">
              <input type="text" class="form-control mb-1" placeholder="VD:LINING,KUMPOO" style="width: 100%">
            </label>
          </div>
          <div class="col-3">
            <button style="width: 100%" class="btn btn-primary ms-1 mb-1" type="button"><i class="bi bi-search"></i> Tìm
              kiếm
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3"></div>

  </div>
  <div class="body row mt-3 ms-1">
    <div class="col-2">
    </div>

    <div class="col-8">
      <h1 class="text-primary mt-1">Sản phẩm</h1>
      <hr>
      <div class="row mt-1 mb-1">
        <div class="col-3 mt-2 mb-1" *ngFor="let clock of clockList?.content">
          <a [routerLink]="['/detail',clock.clockId]" class="text-decoration-none">
            <div class="card img-detail">
              <div>
                <img src="{{clock.url}}" class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center content bg-dark">
                <p class="card-text">{{clock.clockName}}</p>
                <h4 class="card-title"><span class="badge text-bg-primary">{{clock.price |number: '1.0-0'}} VNĐ</span>
                </h4>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>
