<div class="row bg-dark text-danger justify-content-center mb-5">
  <div class="col-4">
    <h6><i class="fa-solid fa-user-graduate"></i> Trần Quốc Đạt &copy;</h6>
    <h6><i class="fa-solid fa-graduation-cap"></i> C0722G1 &copy;</h6>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a class="text-decoration-none text-danger" style="font-size: 20px" routerLink="/list"><i class="fa-solid fa-house-flag"></i> ListConsignment </a>
  </div>
  <div class="col-4" style="text-align: end">
    <h6><i class="fa-solid fa-envelope-open-text"></i> quocdat.tran453@gmail.com &copy;</h6>
    <h6><i class="fa-solid fa-phone-volume"></i>
      038.542.5443 &copy;</h6>
  </div>
</div>
