<div>
  <div class="container-fluid text-light" style="background-color: rgba(0,0,0,1)">
    <div class="row mb-3 ">
      <div class="col-2 mt-2" style="min-height: 100%"><img
        src="https://t4.ftcdn.net/jpg/03/97/71/81/360_F_397718172_S4nhl6h83NhiMRS9L2g0Kr5njjH1HyRa.jpg"
        style="width: 50%;height: 100%;box-shadow: 0px 0px 10px 5px rgb(197,204,241);border: 1px solid royalblue;border-radius: 8px"
        alt="">
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center " style="min-height: 100%"><h1>
        badmintonshop.com</h1></div>
      <div class="col-4 mt-2 text-end" style="min-height: 100%">
        <h5><i class="bi bi-telephone"></i>:038.542.5443 - Trần Quốc Đạt </h5>
        <h5><i class="bi bi-geo-alt"></i>:280,Trần Hưng Đạo,P.Ngũ Hành Sơn,Đà Nẵng</h5>
      </div>
    </div>
    <hr>
    <div class="row" style="background-color: rgba(0,0,0,1)">
      <div class="col-2 text-center text-light home">
        <a routerLink="" class="text-decoration-none"><i
          class="bi bi-house-fill"></i><span style="font-size: 30px"> Trang Chủ</span></a>
      </div>

      <div class="col-2 text-center text-light home">
        <a routerLink="/info" class="text-decoration-none"><i class="bi bi-info-square-fill"></i><span
          style="font-size: 30px"> Giới thiệu</span></a>
      </div>

      <div class="col-2 mt-1 mb-1">
        <div class="dropdown">
          <button class="dropbtn">Danh sách sản phẩm</button>
          <div class="dropdown-content">
            <a href="#">VỢT CẦU LÔNG LINING</a>
            <a href="#">VỢT CẦU LÔNG KUMPOO</a>
            <a href="#">VỢT CẦU LÔNG YONEX</a>
            <a href="#">VỢT CẦU LÔNG MIZUNO</a>
            <a href="#">VỢT CẦU LÔNG VICTOR</a>
            <a href="#">VỢT CẦU LÔNG GUANGYU</a>
            <a href="#">VỢT CẦU LÔNG ASHAWAY</a>
          </div>
        </div>
      </div>

      <div class="col-2 mt-1 mb-1">
        <div class="dropdown">
          <button class="dropbtn">Chính sách</button>
          <div class="dropdown-content">
            <a href="#">Chính Sách Đại Lí</a>
            <a href="#">Bảo Hành & Đổi Trả</a>
            <a href="#">Giao Hàng & Hoàn Tiền</a>
            <a href="#">Hình Thức Thanh Toán</a>
            <a href="#">Điều kiện và điều khoản thanh toán</a>
          </div>
        </div>
      </div>


      <div class="col-2 text-center text-light home d-flex justify-content-end">
        <a routerLink="/cart" class="text-decoration-none"><i class="bi bi-cart4"></i><span style="font-size: 20px"></span></a>
      </div>

      <div class="col-2 mt-1 mb-1">
        <div class="row justify-content-start">
          <button class="btn btn-primary me-1 mb-1" style="width: 50%" type="button" routerLink="/login">Đăng nhập
          </button>
          <button class="btn btn-primary me-1 mb-1" style="width: 35%" type="button">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</div>
