<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        * {
            font-family: "Palatino Linotype"
        }

        input {
            width: 100%;
            border-radius: 5px;
        }

        span {
            font-size: 30px;
            color: white;
        }
    </style>
    <title>BossTran</title>
</head>
<body>
<div class="row navbar navbar-dark bg-primary align-items-center justify-content-center text-center">
    <a th:href="@{/}">
        <button class="btn btn-outline-light">
            <i class="bi bi-house-heart-fill"></i> BACK TO HOME
        </button>
    </a>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row justify-content-center align-items-center text-center">
            <form th:action="@{/add}" th:object="${song}"
                  method="post" novalidate="novalidate">
                <table class="table text-primary table-success table-hover">
                    <tr>
                        <td colspan="2"><h2>Form add the Song</h2></td>
                    </tr>
                    <tr hidden>
                        <td></td>
                        <td><input th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td>Song Name:</td>
                        <td><input type="text" placeholder="Xin Cho Mai Yeu" th:field="*{songName}"/>
                            <p th:errors="*{songName}" class="text-danger"></p></td>
                    </tr>
                    <tr>
                        <td>Artist:</td>
                        <td><input type="text" placeholder="Vicky Nhung" th:field="*{artist}"/>
                            <p th:errors="*{artist}" class="text-danger"></p></td>
                    </tr>
                    <tr>
                        <td>Genre:</td>
                        <td><input type="text" placeholder="Cover,Pop" th:field="*{genre}"/>
                            <p th:errors="*{genre}" class="text-danger"></p></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-outline-primary">
                                Add new Song
                            </button>
                            <a th:href="@{/}">
                                <button type="button" class="btn btn-outline-primary">
                                    <i class="bi bi-house-heart-fill"></i> BACK TO HOME
                                </button>
                            </a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>
<div class="bg-primary text-light mt-3 text-center">
    <h2 class="text-light">&copy; BossTran1611 - 038.542.5443</h2>
</div>
</body>
</html>