<div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl">
    <form [formGroup]="clockForm" (ngSubmit)="createClock()"
          style="color: white;border-radius: 10px;  background: linear-gradient(to right, rgba(71,73,72,0.8), rgba(0,0,0,0.8))">
      <div class="modal-content text-danger">
        <div class="modal-header text-danger"><h1 style="text-align: center"><b>Thêm Sản phẩm</b></h1></div>
        <div class="modal-body">
          <br>
          <div class="row mt-1">
            <div class="col-6">
              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="name" class="form-label"><b>Tên sản phẩm:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="name" class="form-control" placeholder=""
                         id="name">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.name.invalid && (clockForm.controls.name.touched) else elseBlock">
                    <small *ngIf="clockForm.controls.name.errors?.required"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Tên sản phẩm không được để trống.</small>
                    <small *ngIf="clockForm.controls.name.errors?.pattern"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Tên sản phẩm không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.name.errors?.minlength"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Tên sản phẩm không được nhỏ hơn 3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.name.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Tên sản phẩm không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="quanlity" class="form-label"><b>Số Lượng:</b></label></div>
                <div class="col-8">
                  <input type="number" min="1" formControlName="quanlity" class="form-control"
                         id="quanlity">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.quanlity.invalid && (clockForm.controls.quanlity.touched)else elseBlock">
                    <small *ngIf="clockForm.controls.quanlity.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Số Lượng không được để trống.</small>
                    <small *ngIf="clockForm.controls.quanlity.hasError('min')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Số Lượng phải lớn hơn 0.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="price" class="form-label"><b>Giá:</b></label>
                </div>
                <div class="col-8">
                  <input type="number" formControlName="price" class="form-control" id="price">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.price.invalid && (clockForm.controls.price.touched)else elseBlock">
                    <small *ngIf="clockForm.controls.price.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Giá không được để trống.</small>
                    <small *ngIf="clockForm.controls.price.hasError('min')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Giá phải lớn hơn 0.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="origin" class="form-label"><b>Nơi sản xuất:</b></label>
                </div>
                <div class="col-8">
                  <input type="text" formControlName="origin" class="form-control" placeholder="Việt Nam"
                         id="origin">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.origin.invalid && clockForm.controls.origin.touched else elseBlock">
                    <small *ngIf="clockForm.controls.origin.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Nơi sản xuất không được để trống.</small>
                    <small *ngIf="clockForm.controls.origin.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Nơi sản xuất sai định dạng.</small>
                    <small *ngIf="clockForm.controls.origin.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Nơi sản xuất không được nhỏ hơn 1 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.origin.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Nơi sản xuất không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="countryRegistration" class="form-label"><b>Quốc gia đăng ký thương
                  hiệu:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="countryRegistration" class="form-control" placeholder=""
                         id="countryRegistration">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.countryRegistration.invalid && clockForm.controls.countryRegistration.touched else elseBlock">
                    <small *ngIf="clockForm.controls.countryRegistration.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Quốc gia đăng ký thương hiệu không được để
                      trống.</small>
                    <small *ngIf="clockForm.controls.countryRegistration.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Quốc gia đăng ký thương hiệu không đúng định
                      dạng.</small>
                    <small *ngIf="clockForm.controls.countryRegistration.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Quốc gia đăng ký thương hiệu không được nhỏ hơn
                      3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.countryRegistration.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Quốc gia đăng ký thương hiệu không được lớn hơn
                      100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>
              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="gender" class="form-label"><b>Giới tính:</b></label></div>
                <div class="col-8">
                  <select formControlName="gender" class="form-select" id="gender">
                    <option [selected]="true" [value]="null">--Xin chọn giới tính--</option>
                    <option [value]=true>Nam</option>
                    <option [value]=false>Nữ</option>
                  </select>
                  <div class="text-danger"
                       *ngIf="clockForm.controls.gender.invalid && (clockForm.controls.gender.touched ) else elseBlock">
                    <small *ngIf="clockForm.controls.gender.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Giới tính không được để trống.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>


              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="machineType" class="form-label"><b>Kiểu máy:</b></label></div>
                <div class="col-8">
                  <select formControlName="machineType" class="form-select" id="machineType">
                    <option [selected]="true" [value]="null">--Xin chọn kiểu máy--</option>
                    <option *ngFor="let item of machineTypes" [ngValue]="item">{{item.name}}</option>
                  </select>
                  <div class="text-danger"
                       *ngIf="clockForm.controls.machineType.invalid && (clockForm.controls.machineType.touched) else elseBlock">
                    <small *ngIf="clockForm.controls.machineType.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Kiểu máy không được để trống.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="faceDiameter" class="form-label"><b>Đường kính mặt:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="faceDiameter" class="form-control" placeholder="41 mm"
                         id="faceDiameter">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.faceDiameter.invalid && clockForm.controls.faceDiameter.touched else elseBlock">
                    <small *ngIf="clockForm.controls.faceDiameter.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Đường kính mặt không được để trống.</small>
                    <small *ngIf="clockForm.controls.faceDiameter.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Đường kính mặt sai định dạng.</small>
                    <small *ngIf="clockForm.controls.faceDiameter.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Đường kính mặt không được nhỏ hơn 3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.faceDiameter.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Đường kính mặt không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="thick" class="form-label"><b>Độ dày:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="thick" class="form-control" placeholder="11 mm" id="thick">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.thick.invalid && clockForm.controls.thick.touched else elseBlock">
                    <small *ngIf="clockForm.controls.thick.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ dày không được để trống.</small>
                    <small *ngIf="clockForm.controls.thick.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ dày không nhỏ hơn 3 ký tự.</small>
                    <small *ngIf="clockForm.controls.thick.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ dày không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.thick.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ dày không lớn hơn 100 ký tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="resistanceWater" class="form-label"><b>Độ chống nước:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="resistanceWater" class="form-control" placeholder="11 mm" id="resistanceWater">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.resistanceWater.invalid && clockForm.controls.resistanceWater.touched else elseBlock">
                    <small *ngIf="clockForm.controls.resistanceWater.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ chống nước: không được để trống.</small>
                    <small *ngIf="clockForm.controls.resistanceWater.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ chống nước: không nhỏ hơn 3 ký tự.</small>
                    <small *ngIf="clockForm.controls.resistanceWater.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ chống nước: không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.resistanceWater.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Độ chống nước: không lớn hơn 100 ký tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="shellMaterial" class="form-label"><b>Chất liệu vỏ:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="shellMaterial" class="form-control" placeholder="Thép không gỉ"
                         id="shellMaterial">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.shellMaterial.invalid && clockForm.controls.shellMaterial.touched else elseBlock">
                    <small *ngIf="clockForm.controls.shellMaterial.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu vỏ không được để trống.</small>
                    <small *ngIf="clockForm.controls.shellMaterial.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu vỏ không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.shellMaterial.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu vỏ không được nhỏ hơn 3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.shellMaterial.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu vỏ không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="ropeMaterial" class="form-label"><b>Chất liệu dây:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="ropeMaterial" class="form-control" placeholder="Thép không gỉ"
                         id="ropeMaterial">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.ropeMaterial.invalid && clockForm.controls.ropeMaterial.touched else elseBlock">
                    <small *ngIf="clockForm.controls.ropeMaterial.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu dây không được để trống.</small>
                    <small *ngIf="clockForm.controls.ropeMaterial.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu dây không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.ropeMaterial.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu dây không được nhỏ hơn 3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.ropeMaterial.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu dây không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>
              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="glassMaterial" class="form-label"><b>Chất liệu kính:</b></label></div>
                <div class="col-8">
                  <input type="text" formControlName="glassMaterial" class="form-control" placeholder=""
                         id="glassMaterial">
                  <div class="text-danger"
                       *ngIf="clockForm.controls.glassMaterial.invalid && clockForm.controls.glassMaterial.touched else elseBlock">
                    <small *ngIf="clockForm.controls.glassMaterial.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu kính không được để trống.</small>
                    <small *ngIf="clockForm.controls.glassMaterial.hasError('pattern')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu kính không đúng định dạng.</small>
                    <small *ngIf="clockForm.controls.glassMaterial.hasError('minlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu kính không được nhỏ hơn 3 ký
                      tự.</small>
                    <small *ngIf="clockForm.controls.glassMaterial.hasError('maxlength')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Chất liệu kính không được lớn hơn 100 ký
                      tự.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>


              <div class="row mb-1 form-group ms-1 me-1">
                <div class="col-4"><label for="trademark" class="form-label"><b>Hãng sản xuất:</b></label></div>
                <div class="col-8">
                  <select formControlName="trademark" class="form-select" id="trademark">
                    <option [selected]="true" [value]="null">--Xin chọn hãng sản xuất--</option>
                    <option *ngFor="let item of trademarks" [ngValue]="item">{{item.name}}</option>
                  </select>
                  <div class="text-danger"
                       *ngIf="clockForm.controls.trademark.invalid && (clockForm.controls.trademark.touched) else elseBlock">
                    <small *ngIf="clockForm.controls.trademark.hasError('required')"><i
                      class="fa-solid fa-triangle-exclamation"></i>&nbsp;Hãng sản xuất không được để trống.</small>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>
              </div>

            </div>
          </div>
          <div class="text-center mb-1">
            <button type="submit" *ngIf="clockForm.valid" class="btn btn-primary me-2">Đăng ký</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
          </div>
          <br>
        </div>
      </div>
    </form>
  </div>
</div>

