<button id="btnScrollToTop" (click)="scroll()">Move
  <i class="fa-solid fa-angles-up"></i>
</button>
<div class="container-fluid" style="background: linear-gradient(to right, #d9f5db, #739a96)">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div id="carouselExampleInterval" class="carousel slide  mt-2" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://zenwatch.vn/thumb/crop/12984/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://zenwatch.vn/thumb/crop/7730/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://zenwatch.vn/thumb/crop/5690/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://zenwatch.vn/thumb/crop/7862/1920/950/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://zenwatch.vn/thumb/crop/5692/1920/950/" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>


  <div class="body row mt-3 ms-1">
    <div class="col-2"></div>

    <div class="col-8">
      <h1 class="text-primary mt-1">Sản phẩm</h1>
      <div class="container teal borderYtoX  runcarousel">
        <div class="Marquee">
          <div class="Marquee-content">
            <div class="Marquee-tag" *ngFor="let clock of clockCarousel">
              <a [routerLink]="['/detail',clock.clockId]" class="text-decoration-none">
                <div class="card img-detail" style="border: 1px solid blue">
                  <img src="{{clock.url}}" class="card-img-top" alt="...">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row mt-1 mb-1">
        <div class="mt-2 mb-1" *ngIf="clockList?.content?.length == 0; else elseBlock"><h1
          class="text-center text-danger">Không có sản phẩm cần
          tìm.</h1></div>
        <ng-template #elseBlock>
          <div class="col-3 mt-2 mb-1" *ngFor="let clock of clockList?.content">
            <a [routerLink]="['/detail',clock.clockId]" class="text-decoration-none">
              <div class="card img-detail">
                <div>
                  <img src="{{clock.url}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center content" style="background-color: black">
                  <p class="card-text" style="color: white">{{clock.clockName}}</p>
                  <h4 class="card-title text-hiden">
                    <span
                      style="background-color:blue;border-radius: 5px;padding: 2px; color: white">{{clock.price |number: '1.0-0'}}
                      VNĐ</span>
                  </h4>
                </div>
              </div>

            </a>
          </div>
        </ng-template>
      </div>

      <div style="min-height: 60px">
        <div *ngIf="clockList?.content?.length != 0; else elseBlockPagination">
          <div *ngIf="clockList" class="d-flex justify-content-center" id="last-row">
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="clockList.first ? 'disabled': ''">
                    <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
                  </li>
                  <!--                  <li class="page-item" [ngClass]="clockList.first ? 'disabled': ''">-->
                  <!--                    <a role="button" class="page-link" (click)="changePage(clockList.number - 1)"><</a>-->
                  <!--                  </li>-->
                  <li class="page-item" *ngIf="clockList.number - 3 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number - 4)">{{clockList.number - 3}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number - 2 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number - 3)">{{clockList.number - 2}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number - 1 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number - 2)">{{clockList.number - 1}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number - 1)">{{clockList.number}}</a>
                  </li>
                  <li class="page-item active"><a class="page-link">{{clockList.number + 1}}</a></li>
                  <li class="page-item" *ngIf="clockList.number + 2 <= clockList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number + 1)">{{clockList.number + 2}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number + 3 <= clockList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number + 2)">{{clockList.number + 3}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number + 4 <= clockList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number + 3)">{{clockList.number + 4}}</a>
                  </li>
                  <li class="page-item" *ngIf="clockList.number + 5 <= clockList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.number + 4)">{{clockList.number + 5}}</a>
                  </li>
                  <!--                  <li class="page-item" [ngClass]="clockList.last ? 'disabled': ''">-->
                  <!--                    <a role="button" class="page-link"-->
                  <!--                       (click)="changePage(clockList.number + 1)">></a>-->
                  <!--                  </li>-->
                  <li class="page-item" [ngClass]="clockList.last ? 'disabled': ''">
                    <a role="button" class="page-link"
                       (click)="changePage(clockList.totalPages - 1)">
                      Trang cuối
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <ng-template #elseBlockPagination></ng-template>
      </div>
    </div>
  </div>

  <div class="row mt-1 pb-1">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="mt-2 mb-1" *ngIf="imgList.length == 0; else img"><h1 class="text-center text-danger">Không có sản
          phẩm cần tìm.</h1></div>
        <ng-template #img>
          <div class="col-3 mt-2 mb-1" *ngFor="let img of imgList">
            <div class="card img-detail">
              <div>
                <img src="{{img.url}}" class="card-img-top" alt="...">
              </div>
            </div>
          </div>
        </ng-template>
        <div class="d-flex align-items-center justify-content-center">
          <a style="cursor: pointer; color: #f44336; text-decoration: none" type="button"
             class="btn btn-primary w-25 text-light me-2 text-center"
             (click)="getImgList(size+4)"
             *ngIf="!last"> <i class="fas fa-angle-double-down"></i>Xem thêm...
          </a>

          <a style="cursor: pointer; color: #f44336; text-decoration: none" type="button"
             class="btn btn-primary w-25 text-light text-center" (click)="getImgList(size=4)"
             *ngIf="imgList.length>4">
            <i class="fas fa-angle-double-up"></i> Ẩn bớt
          </a></div>

      </div>

    </div>
    <div class="col-2"></div>
  </div>

</div>
