<app-header></app-header>
<app-navbar></app-navbar>
<div class="content mb-1">
  <section>
    <div class="container py-5 h-100 bg-success">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="https://i.vietgiaitri.com/2021/9/6/tim-ve-mien-bien-tho-mong-bac-nhat-mien-trung-tai-khu-nghi-duong-furama-resort-da-nang-sang-chanh-9e6-6010593.jpg"
                  alt="Sample photo" class="img-fluid"
                  style="width: 75%;"/>
              </div>
              <div class="col-xl-6">
                <form [formGroup]="formCustomerEdit" (ngSubmit)="editCustomer()">
                  <div class="card-body p-md-5 text-primary">
                    <h3 class="mb-2 text-uppercase text-center">Edit Customer</h3>
                    <hr>
                    <div class="form-outline" hidden>
                      <input type="text" name="id" id="id" formControlName="id" class="form-control"/>
                    </div>

                    <div class="form-outline">
                      <label class="form-label" for="name">CustomerName </label>
                      <input type="text" name="name" id="name" formControlName="name"
                             class="form-control"/>
                      <div *ngIf="!cus?.valid && (cus.name.dirty ||cus.name.touched)">
                        <small *ngIf="cus.name.errors?.required" style="color:red;"> Name is required! </small>
                        <small *ngIf="cus.name.errors?.pattern" style="color:red;">The name is not in the correct
                          format!!! </small>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-outline">
                          <label class="form-label" for="customerCode">CustomerCode</label>
                          <input type="text" name="customerCode" id="customerCode" formControlName="customerCode"
                                 class="form-control"/>
                          <div *ngIf="!cus?.valid && (cus.customerCode.dirty ||cus.customerCode.touched)">
                            <small *ngIf="cus.customerCode.errors?.required" style="color:red;"> CustomerCode is
                              required! </small>
                            <small *ngIf="cus.customerCode.errors?.pattern" style="color:red;">The CustomerCode is not
                              in the correct
                              format!!! </small>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-outline">
                          <label class="form-label" for="dateOfBirth">Birthday:</label>
                          <input type="date" name="dateOfBirth" id="dateOfBirth" formControlName="dateOfBirth"
                                 class="form-control text-primary"/>
                          <div *ngIf="!cus?.valid && (cus.dateOfBirth.dirty ||cus.dateOfBirth.touched)">
                            <small *ngIf="cus.dateOfBirth.errors?.required" style="color:red;"> Birthday is
                              required! </small>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-md-flex justify-content-start align-items-center py-2">
                      <label class="me-3"> Gender: </label>
                      <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" [value]=true id="male"
                               name="gender" formControlName="gender"/> Male
                      </div>
                      <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" [value]=false id="female"
                               name="gender" formControlName="gender"/> Female
                      </div>
                      <div *ngIf="!cus?.valid && (cus.gender.dirty ||cus.gender.touched||cus.gender.pristine)">
                        <small *ngIf="cus.gender.errors?.required" style="color:red;"> Gender is required! </small>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-outline">
                          <label class="form-label" for="idCard">Id Card: </label>
                          <input type="text" name="idCard" id="idCard" formControlName="idCard" class="form-control"/>
                          <div *ngIf="!cus?.valid && (cus.idCard.dirty ||cus.idCard.touched)">
                            <small *ngIf="cus.idCard.errors?.required" style="color:red;"> ID Card is required! </small>
                            <small *ngIf="cus.idCard.errors?.pattern" style="color:red;">The ID Card is not in the
                              correct
                              format!!! </small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-outline">
                          <label class="form-label" for="phoneNumber">PhoneNumber: </label>
                          <input type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"
                                 class="form-control"/>
                          <div
                            *ngIf="!cus?.valid && (cus.phoneNumber.dirty ||cus.phoneNumber.touched||cus.phoneNumber.pristine)">
                            <small *ngIf="cus.phoneNumber.errors?.required" style="color:red;"> PhoneNumber is
                              required! </small>
                            <small *ngIf="cus.phoneNumber.errors?.pattern" style="color:red;">The PhoneNumber is not in
                              the correct
                              format!!! </small>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-outline">
                      <label class="form-label" for="email">Email: </label>
                      <input type="text" name="email" id="email" formControlName="email" class="form-control"/>
                      <div *ngIf="!cus?.valid && (cus.email.dirty ||cus.email.touched)">
                        <small *ngIf="cus.email.errors?.required" style="color:red;"> Email is required! </small>
                        <small *ngIf="cus.email.errors?.pattern" style="color:red;">The Email is not in the correct
                          format!!! </small>
                      </div>
                    </div>


                    <div class="form-outline">
                      <label class="form-label" for="address">Address: </label>
                      <input type="text" name="address" id="address" formControlName="address" class="form-control"/>
                      <div *ngIf="!cus?.valid && (cus.address.dirty ||cus.address.touched)">
                        <small *ngIf="cus.address.errors?.required" style="color:red;"> Address is required! </small>
                        <small *ngIf="cus.address.errors?.pattern" style="color:red;">The Address is not in the correct
                          format!!! </small>
                      </div>
                    </div>


                    <div class="form-outline">
                      <label for="customerType" class="form-label">CustomerType:</label>
                      <select  [compareWith]="compareWith" id="customerType" formControlName="customerType" class="form-select text-primary">
                        <option *ngFor="let c of customerTypeList"  [ngValue]="c">{{c.name}}</option>
                      </select>
                      <div *ngIf="!cus?.valid && (cus.customerType.dirty ||cus.customerType.touched)">
                        <small *ngIf="cus.customerType.errors?.required" style="color:red;"> CustomerType is
                          required! </small>
                      </div>
                    </div>

                    <div class="row text-lg-center align-items-center justify-content-center">
                      <small style="color: blue">Enter correctly to show the summit button!!!</small>
                      <button class="btn btn-primary w-25 me-2" *ngIf="formCustomerEdit.valid" type="submit">Submit
                      </button>
                      <button class="btn btn-primary w-25 me-2" type="reset">Reset</button>
                      <button class="btn btn-primary w-25" [routerLink]="['/customer/list']" type="button">
                        ListCustomer
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
