<div class="container-fluid">
  <div class="row" *ngIf="cartListByIdAccount.length!=0,else block">
    <div class="col col-9 mt-2 mb-2">
      <div class="d-flex justify-content-center">
        <table class="table table-light table-hover" style="width: 98%">
          <thead>
          <tr>
            <!--            <th><input type="checkbox" class="form-check-input"></th>-->
            <th style="width: 1%">STT</th>
            <th style="width: 47%">Tổng sản phẩm: <span>{{totalProduct}}</span></th>
            <th style="width: 21%">Số lượng</th>
            <th style="width: 13%">Giá</th>
            <th style="width: 15%">Thành tiền</th>
            <th style="width: 3%">Xóa</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let ele of cartListByIdAccount,index as i" style="min-height: 10%">
            <!--            <th>-->
            <!--              <input type="checkbox" class="form-check-input">-->
            <!--            </th>-->
            <th>{{i + 1}}</th>
            <td>
              <div class="row">
                <div class="col-2">
                  <a [routerLink]="['/detail',ele.clockId]" class="text-decoration-none">
                    <img src="{{ele.url}}" class="card-img-top" alt="...">
                  </a>
                </div>
                <div class="col-10">
                  <p class="card-text">{{ele.clockName}}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <button *ngIf="ele.cartId!=undefined" class="btn btn-sm btn-primary mx-1" style="width: 20%"
                        (click)="subQuanlity(ele.cartId)">-
                </button>
                <input #minmax class="form-control-sm mx-1" *ngIf="ele.cartId!=undefined"
                       style="width: 30%;text-align: center; border: solid 1px #3167eb"
                       type="text" (change)="change(+minmax.value,ele.cartId)" value="{{ele.quanlityCart}}">
                <button *ngIf="ele.cartId!=undefined" class="btn btn-sm btn-primary mx-1" style="width: 20%"
                        (click)="addQuanlity(ele.cartId)">+
                </button>
              </div>
            </td>

            <td>
              <div>{{ele.clockPrince|number}} VNĐ</div>
            </td>

            <td>
              <div
                *ngIf="ele.quanlityCart!=undefined && ele.clockPrince !=undefined">{{ele.quanlityCart * ele.clockPrince|number}}
                VNĐ
              </div>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
                      (click)="(temp=ele)"><i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3 mt-2" *ngIf="cartListByIdAccount.length!=0">
      <div style="width: 95%" class="pb-2">
          <div class="row address">
            <p class="mt-2">Tạm tính: <span class="text-bg-warning"
                                            style="border-radius: 7px;padding: 3px"><b>{{totalPay | number}}
              VNĐ <=> {{(totalPay / 24000)|number: '0.1'}} USD</b>
           </span></p>
            <p>Giảm giá: <span class="text-bg-secondary"
                               style="border-radius: 7px;padding: 3px"><b>{{totalPay * sale}} VND</b>
            </span></p>
            <h6>Tổng tiền: <span class="text-bg-success"
                                 style="border-radius: 7px;padding: 3px"><b>{{(totalPay - totalPay * sale)|number}}
              VNĐ <=> {{(totalPay / 24000 - (totalPay / 24000) * sale)|number: '0.1'}} USD</b> </span>
            </h6>
            <div class="mb-2 text-center" *ngIf="cartListByIdAccount.length != 0">
              <button type="button" class="btn btn-primary buttonPayPal" data-bs-toggle="modal" data-bs-target="#payPal"
                       (click)="payClock()"><b>THANH TOÁN</b>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <ng-template #block>
    <div class="row pb-2">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="text-center mt-2 text-danger"><h1><b>Giỏ hàng của bạn đang trống.Hẹn gặp bạn lần sau!</b></h1>
          <div id="carouselExampleInterval" class="carousel slide  mt-2" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://zenwatch.vn/thumb/crop/12984/1920/950/"
                     style="border-radius: 10px;border: 5px solid red"
                     class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://zenwatch.vn/thumb/crop/7730/1920/950/"
                     style="border-radius: 10px;border: 5px solid red"
                     class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://zenwatch.vn/thumb/crop/5690/1920/950/"
                     style="border-radius: 10px;border: 5px solid red "
                     class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://zenwatch.vn/thumb/crop/7862/1920/950/"
                     style="border-radius: 10px;border: 5px solid red"
                     class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://zenwatch.vn/thumb/crop/5692/1920/950/"
                     style="border-radius: 10px;border: 5px solid red" class=" d-block
                         w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" style="border-radius: 10px" data-bs-target="
                        #carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </ng-template>

</div>

<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content" style="background: linear-gradient(to right, #d9f5db, #07af9e);color: blue">
      <div class="modal-header"><h4 class="text-center">XOÁ SẢN PHẨM</h4></div>

      <div class="modal-body">
        <h5 class="text-center">Bạn có chắc muốn xoá????</h5>
        <div class="row  text-center">
          <div class="col-3"><h6>Sản Phẩm:</h6></div>
          <div class="col-9"><h6>{{temp.clockName}}</h6></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="delete()">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payPal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content" style="background: linear-gradient(to right, #d9f5db, #07af9e);color: blue">
      <div class="modal-header"><h4 class="text-center">THANH TOÁN</h4></div>
      <div class="modal-body">
                <form [formGroup]="formOrder">
                  <input hidden type="text" formControlName="id">
                  <div class="mb-3 mt-3">
                    <label for="customerName" class="form-label"><b class="text-danger">Họ và tên:</b> </label>
                    <input type="text" class="form-control" id="customerName" placeholder="Nhập họ và tên"
                           formControlName="customerName">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label"><b class="text-danger">Số điện thoại:</b></label>
                    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại"
                           formControlName="phone">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label"><b class="text-danger">Email:</b></label>
                    <input type="text" class="form-control" id="email" placeholder="Nhập email" formControlName="email">
                  </div>
                  <div class="mb-3">
                    <label for="addressCustomer" class="form-label"><b class="text-danger">Địa chỉ khách hàng:</b></label>
                    <input type="text" class="form-control" id="addressCustomer" placeholder="Nhập địa chỉ"
                           formControlName="addressCustomer">
                  </div>

                  <div class="mb-3">
                    <label for="deliveryAddress" class="form-label"><b class="text-danger">Địa chỉ giao hàng:</b></label>
                    <input type="text" class="form-control" id="deliveryAddress" placeholder="Nhập địa chỉ"
                           formControlName="deliveryAddress">
                  </div>
                </form>
        <div id="paypalbutton" class="mb-2"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>


